{% extends 'templates/nhs_transaction_layout.html' %}

{% block content %}

<style>
	.items-container {
		border: 1px solid red;
		padding-bottom: 2rem;
	}
	.shadow {
		height: 2rem;
		background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 80%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(80%,rgba(255,255,255,1)));
		background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 80%);
		background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 80%);
		background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 80%);
		background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 80%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
	}
	.item-1 .shadow {
		display: none;
	}

	.item {
		position: relative;
		margin-bottom: -2rem;

		-webkit-transform: translateZ(0);
		-ms-transform: translateZ(0);
		transform: translateZ(0);

		-webkit-transition: margin 0.25s ease-in-out;
		transition: margin 0.25s ease-in-out;
	}
	.item-open {
		margin-top: 0;
		margin-bottom: 0;
	}
	.item-1.item-open {
		margin-top: 0;
	}
	.item-content {
		padding: 1rem;
		background-color: #fff;
		border: 1px solid #bbb;
		cursor: pointer;
	}
	.item-open .item-content {
		cursor: default;
	}
	.item-header {
		background-color: #eee;
		margin-bottom: 1rem;
	}
	.item-header .item-collapse-link {
		display: block;
	}
	.item-leadin {
		background-color: #eee;
		margin-bottom: 1rem;
	}
	.item-body {
		background-color: #eee;
		overflow: hidden;
		max-height: 400px;

		-webkit-transform: translateZ(0);
		-ms-transform: translateZ(0);
		transform: translateZ(0);

		-webkit-transition: max-height 0.75s ease-in-out;
		transition: max-height 0.75s ease-in-out;
	}
	.item-body-collapsed {
		overflow: hidden;
		max-height: 0;
	}
	.item-collapse {
		margin-top: 1rem;
	}
</style>

<script>
	function whichTransitionEvent() {
		var el = document.createElement('fake'),
		transEndEventNames = {
			'WebkitTransition' : 'webkitTransitionEnd',// Saf 6, Android Browser
			'MozTransition'    : 'transitionend',      // only for FF < 15
			'transition'       : 'transitionend'       // IE10, Opera, Chrome, FF 15+, Saf 7+
		};

		for(var t in transEndEventNames){
			if( el.style[t] !== undefined ){
				return transEndEventNames[t];
			}
		}
	}
	var transEndEventName = whichTransitionEvent();

	$(function() {
		$('.item').on('click', '.item-collapse-link', function(event) {

			event.preventDefault();
			$item = $(this).parents('.item');
			$itemBody = $item.find('.item-body');

			if ($item.hasClass('item-open')) {
				/*
					It's open.
					• Check the click has come from a "close" control
					• Collapse the "body" area
					• Disable the (now hidden) "show less" link
					• Then shunt the card back into the deck
				*/
				if ($(event.target).hasClass('item-collapse-link')) {
					$itemBody.addClass('item-body-collapsed');
					$itemBody.one(transEndEventName, function(event) {
						$itemBody.find('.item-collapse').hide();
						$item.removeClass('item-open');
					});
				} else {
					return false;
				}
			} else {
				/*
					It's not open.
					• Activate 'collapse' links
					• Animate body area expanding in height
					• Animate card shifting
					• Animate scrolling to centre the card
				*/
				$item.addClass('item-open');
				$itemBody.find('.item-collapse').show();
				$itemBody.removeClass('item-body-collapsed');
				$('html,body').animate({
          scrollTop: $item.offset().top
        }, 1000, 'easeInOutQuad');
			}
		});
	});
</script>

{% macro card(i) %}
	<div class="item item-{{ i.index }} {{ i.extra_classes }}" id="item-{{ i.index }}">
		<div class="shadow"></div>
		<div class="item-content">
			<div class="item-header">
				<a href="#item-{{ i.index }}" class="item-collapse-link">Header {{ i.index }}</a>
			</div>
			{% if i.leadin %}
			<div class="item-leadin">
				<p>{{ i.leadin }}</p>
			</div>
			{% endif %}
			<div class="item-body item-body-collapsed">
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
				<div class="item-collapse">
					<a href="#" class="item-collapse-link" tabindex="0">Show less</a>
				</div>
			</div>
		</div>
	</div>
{% endmacro %}

<main id="content" role="main">

	<div class="items-container">

		{{ card({
			index: 1
			})
		}}

		{{ card({
			index: 2,
			leadin: "This is a lead-in"
			})
		}}

		{{ card({
			index: 3
			})
		}}

		<div class="item item-4" id="item-4">
			<div class="shadow"></div>
			<div class="item-content">
				<div class="item-header">
					<a href="#item-4" class="item-collapse-link">Header 4</a>
				</div>
				<div class="item-body item-body-collapsed">
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
					<details>
						<summary>So what is this thing?</summary>
						<div>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
						</div>
					</details>
					<div class="item-collapse">
						<a href="#" class="item-collapse-link" tabindex="0">Show less</a>
					</div>
				</div>
			</div>
		</div>

	</div>

	<div>TEST A CTA VERSION</div>

	<div class="items-container">

		{{ card({
			index: 5
			})
		}}

		{{ card({
			index: 6
			})
		}}

	</div>

</main>

{% endblock %}
