{% extends 'templates/nhs_transaction_layout.html' %}
{% import 'includes/form_macros.html' as form_macros %}
{% import 'includes/ui_element_macros.html' as ui_element_macros %}

{% block afterHeader %}
  {% include "includes/service-headers/book-an-appointment.html" %}
{% endblock %}

{% block content %}
<main id="content" role="main">

  <h1 class="heading-xlarge">
    Choose an appointment
  </h1>

  <div class="grid-row">
    <div class="column-third column-switch-right">
      <p>
        {{ practice.name }}<br>
        {{ practice.address.join('<br>') }}
      </p>
    </div>
    <div class="column-two-thirds">

      <h2 class="appointment-section-heading">First available appointment with a female practitioner:</h2>

      {{
        ui_element_macros.appointment_option({
          link_url: 'confirm-appointment/' + appointments.female_gp.uuid,
          appointment_date: appointments.female_gp.appointment_date,
          appointment_time: appointments.female_gp.appointment_time,
          appointment_days_away: appointments.female_gp.appointment_days_away,
          avatar_img_path: '/public/images/' + appointments.female_gp.practitioner.photo,
          name: appointments.female_gp.practitioner.name,
          position: appointments.female_gp.practitioner.role,
          gender: appointments.female_gp.practitioner.gender,
          appointment_length: appointments.female_gp.appointment_length,
          appointment_type: appointments.female_gp.appointment_type,
          appointment_type_class: appointments.female_gp.appointment_type_class,
          address: appointments.female_gp.address
        })
      }}

      <h3 class="appointment-section-heading">First available appointment:</h3>

      {{
        ui_element_macros.appointment_option({
          link_url: 'confirm-appointment/' + appointments.face_to_face.uuid,
          appointment_date: appointments.face_to_face.appointment_date,
          appointment_time: appointments.face_to_face.appointment_time,
          appointment_days_away: appointments.face_to_face.appointment_days_away,
          avatar_img_path: '/public/images/' + appointments.face_to_face.practitioner.photo,
          name: appointments.face_to_face.practitioner.name,
          position: appointments.face_to_face.practitioner.role,
          gender: appointments.face_to_face.practitioner.gender,
          appointment_length: appointments.face_to_face.appointment_length,
          appointment_type: appointments.face_to_face.appointment_type,
          appointment_type_class: appointments.face_to_face.appointment_type_class,
          address: appointments.face_to_face.address
        })
      }}


      <h3 class="appointment-section-heading more">More appointment options</h3>

      <ul>
        <li><a href="next-appointment-with-woman-early-morning">I’d like an early morning appointment</a></li>
        <li><a href="see-particular-person">I’d like to see a particular person</a></li>
      </ul>

      <div class="appointment-section-heading all">
        <a href="all-appointments">See all appointments</a>
      </div>
    </div>
  </div>

</main>
{% endblock %}
