{% extends 'templates/nhs_transaction_layout.html' %}
{% import 'includes/form_macros.html' as form_macros %}
{% import 'includes/ui_element_macros.html' as ui_element_macros %}

{% block afterHeader %}
  {% include "includes/service-headers/book-an-appointment.html" %}
{% endblock %}

{% block content %}
<main id="content" role="main" class="">

  <div class="text">
    {% if service.name %}
    <h1 class="heading-xlarge">
      Choose a {{ service.name|lower }} appointment
    </h1>
      {{ service.triage_hint|safe }}
    {% else %}
    <h1 class="heading-xlarge">Choose an appointment</h1>
    {% endif %}
  </div>

  <div class="grid-row">
    <div class="column-third column-switch-right">
      <p>
        {{ practice.name }}<br>
        {{ practice.address.join('<br>') }}
      </p>
    </div>
    <div class="column-two-thirds">

      <h2 class="heading-small" style="font-weight:normal;">First available appointment:</h2>

      {{
        ui_element_macros.appointment_option({
          link_url: 'confirm-appointment/' + appointments.next.uuid,
          appointment_date: appointments.next.appointment_date,
          appointment_time: appointments.next.appointment_time,
          avatar_img_path: '/public/images/' + appointments.next.practitioner.photo,
          name: appointments.next.practitioner.name,
          position: appointments.next.practitioner.role,
          gender: appointments.next.practitioner.gender,
          appointment_length: appointments.next.appointment_length,
          appointment_type: appointments.next.appointment_type,
          appointment_type_class: appointments.next.appointment_type_class,
          address: appointments.next.address
        })
      }}

      <h3 class="heading-small" style="font-weight:normal;">First available <b>face to face</b> appointment:</h3>

      {{
        ui_element_macros.appointment_option({
          link_url: 'confirm-appointment/' + appointments.face_to_face.uuid,
          appointment_date: appointments.face_to_face.appointment_date,
          appointment_time: appointments.face_to_face.appointment_time,
          avatar_img_path: '/public/images/' + appointments.face_to_face.practitioner.photo,
          name: appointments.face_to_face.practitioner.name,
          position: appointments.face_to_face.practitioner.role,
          gender: appointments.face_to_face.practitioner.gender,
          appointment_length: appointments.face_to_face.appointment_length,
          appointment_type: appointments.face_to_face.appointment_type,
          appointment_type_class: appointments.face_to_face.appointment_type_class,
          address: appointments.face_to_face.address
        })
      }}

      <h3 class="heading-medium">More appointment options:</h3>

      <ul class="list-bullet">
        <li><a href="next-appointment-with-woman">I’d like to see a woman</a></li>
        <li><a href="next-appointment-early-morning">I’d like an early morning appointment</a></li>
        <li><a href="see-particular-person">I’d like to see a particular person</a></li>
      </ul>

      <p>
        or <a href="all-appointments">see all appointments</a>
      </p>

    </div>
  </div>

</main>
{% endblock %}
