{% extends 'templates/nhs_layout.html' %}
{% import 'includes/form_macros.html' as form_macros %}
{% import 'includes/ui_element_macros.html' as ui_element_macros %}

{% block content %}
<main id="content" role="main">

  <a href="next-available-appointment">Back</a>

  <h1 class="heading-xlarge">
    <span class="heading-secondary">Book an appointment</span>
    Available appointments
  </h1>

  <p>
    Lakeside Surgery<br>
    22 Castelnau<br>
    London<br>
    NW13 9HJ
  </p>

  <h2 class="heading-medium">Next available appointment with a woman GP:</h2>

  {{
    ui_element_macros.link_appointment({
      link_url: 'appointment-confirmed',
      appointment_date: 'Friday 25th January 2016',
      appointment_time: '16:30',
      avatar_img_path: '/public/images/icon-avatar.svg',
      name: 'Dr. Helen Leaf',
      appointment_type: 'Face to face'
    })
  }}

  <h2 class="heading-small">Next available appointment:</h2>

  {{
    ui_element_macros.link_appointment({
      modifier_css_classes: 'link-appointment--secondary',
      link_url: '#',
      appointment_date: 'Tuesday 23rd January 2016',
      appointment_time: '16:10',
      avatar_img_path: '/public/images/icon-avatar-malcolm-branch.png',
      name: 'Dr. Malcolm Branch',
      appointment_type: 'Face to face'
    })
  }}

  <ul class="list-bullet">
    <li><a href="#">I'd like an early morning appointment</a></li>
    <li><a href="#">I'd like a late afternoon appointment</a></li>
  </ul>

  <p>
    or <a href="#">see all appointments</a>
  </p>

</main>
{% endblock %}
