{% extends 'templates/nhs_transaction_layout.html' %}
{% import 'includes/form_macros.html' as form_macros %}
{% import 'includes/ui_element_macros.html' as ui_element_macros %}

{% block afterHeader %}
  {% include "includes/service-headers/book-an-appointment.html" %}
{% endblock %}

{% block content %}
<main id="content" role="main">

  <a href="next-available-appointment" class="back-to-previous">Back</a>

  <h1 class="heading-xlarge">
    Appointments
  </h1>

  <div class="grid-row">
    <div class="column-third column-switch-right">
      <p>
        {{ practice.name }}<br>
        {{ practice.address.join('<br>') }}
      </p>
    </div>
    <div class="column-two-thirds">

      <h2 class="heading-small">See a particular person:</h2>

      {{
        ui_element_macros.practitioner_link({
          link_url: 'appointments-with-practitioner?practitioner=helen-leaf',
          avatar_img_path: '/public/images/icon-avatar-helen-leaf.png',
          name: 'Dr Helen Leaf',
          position: 'GP',
          gender: 'female'
        })
      }}

      {{
        ui_element_macros.practitioner_link({
          link_url: 'appointments-with-practitioner?practitioner=mike-johnson',
          avatar_img_path: '/public/images/icon-avatar-mike-johnson.png',
          name: 'Dr Mike Johnson',
          position: 'GP',
          gender: 'male'
        })
      }}

      {{
        ui_element_macros.practitioner_link({
          link_url: 'appointments-with-practitioner?practitioner=emma-stace',
          avatar_img_path: '/public/images/icon-avatar.svg',
          name: 'Dr Emma Stace',
          position: 'GP',
          gender: 'female'
        })
      }}

      {{
        ui_element_macros.practitioner_link({
          link_url: 'appointments-with-practitioner?practitioner=malcolm-branch',
          avatar_img_path: '/public/images/icon-avatar-malcolm-branch.png',
          name: 'Dr Malcolm Branch',
          position: 'GP',
          gender: 'male'
        })
      }}

      {{
        ui_element_macros.practitioner_link({
          link_url: 'appointments-with-practitioner?practitioner=sasheika-wrench',
          avatar_img_path: '/public/images/icon-avatar.svg',
          name: 'Sasheika Wrench',
          position: 'Nurse practioner',
          gender: 'female'
        })
      }}

      {{
        ui_element_macros.practitioner_link({
          link_url: 'appointments-with-practitioner?practitioner=jonathon-hope',
          avatar_img_path: '/public/images/icon-avatar-jonathon-hope.png',
          name: 'Jonathan Hope',
          position: 'Nurse practioner',
          gender: 'male'
        })
      }}

      {{
        ui_element_macros.practitioner_link({
          link_url: 'appointments-with-practitioner?practitioner=alison-wylde',
          avatar_img_path: '/public/images/icon-avatar-alison-wylde.png',
          name: 'Alison Wylde',
          position: 'Nurse',
          gender: 'female'
        })
      }}

    </div>
  </div>

</main>
{% endblock %}
