{% extends 'templates/nhs_transaction_layout.html' %}

{% block content %}

<main id="content" role="main">

	<h1 class="heading-xlarge">Book an appointment</h1>

    <div class="text">

      <p class="lede">
        Use this service if you need to make an appointment with your GP or
        another healthcare professional.
      </p>

      <p>
        You’ll need to know:
      </p>

      <ul class="list-bullet">
        <li>
          The name of your GP practice.
        </li>
      </ul>

      <p>
        <a class="button button-get-started" href="find-new-appointment">Start</a>
      </p>
    </div>
</main>

{% endblock %}
