{% extends 'templates/nhs_content_layout.html' %}

{% block content %}

<main id="content" role="main">

<div class="text">

<h1 class="heading-xlarge">Health problems caused by diabetes type 2</h1>

<p>You have to watch your health and have regular check-ups if you have diabetes because high blood sugar can cause other problems.</p>

<p>It can damage your blood vessels, nerves and organs (eg heart and kidneys) and lead to:</p>

<ul class="list-bullet">
  <li><a href="http://www.nhs.uk/conditions/coronary-heart-disease/pages/introduction.aspx">heart disease</a> and <a href="http://www.nhs.uk/conditions/coronary-heart-disease/pages/introduction.aspx">stroke</a></li>
  <li>pain, tingling and loss of feeling (nerve damage)</li>
  <li>vision loss and blindness</li>
  <li>foot problems - sores and infections</li>
  <li>reduced sex drive and problems during sex</li>
  <li>miscarriage and stillbirth</li>
</ul>

<p>Some complications can be avoided. It’s important you know the signs and what steps you should take.</p>

<h2 class="heading-large">What you can do</h2>

<p>Managing your blood sugar levels and having regular diabetes check-ups is the best way to lower your risk of complications.</p>

<h3 class="heading-medium">Checking your heart</h3>

<p>You should have your blood fats (cholesterol) and blood pressure checked at least once a year. Diabetes makes it harder to control these so it’s important high blood pressure and high cholesterol is spotted and treat early to prevent heart disease and stroke.</p>

<h3 class="heading-medium">Watching your feet</h3>

<p>You should check your feet every day. Speak to your GP or care team if you notice any changes, including:</p>

<ul class="list-bullet">
  <li>cuts, cracks or blisters</li>
  <li>pain</li>
  <li>itching</li>
</ul>

<p>Your feet should also be checked by a foot specialist (podiatrist) every year.</p>

<p>High blood sugar damages the nerves and blood vessels in your feet. Broken skin is more likely to become infected because of poor circulation, which you may not feel because you have less sensation.</p>

<p>If sores or infections aren’t treated early, your toe or foot may need to be amputated. More than 135 amputations are carried out every week due to diabetes.</p>

<h3 class="heading-medium">Going for eye screening</h3>

<p>Your eyes should be checked every year for damaged blood vessels, which can cause sight problems <a href="http://www.nhs.uk/Conditions/Diabetic-retinopathy/Pages/Introduction.aspx">diabetic retinopathy</a> and blindness. Eye checks can detect damage before you notice changes to your sight. Treating damaged blood vessels early may stop them affecting your sight.</p>

<p>Speak to your GP immediately if there are any changes to your sight, including:</p>

<ul class="list-bullet">
  <li>blurred vision, especially at night</li>
  <li>shapes floating in your sight (floaters)</li>
  <li>sensitivity to light</li>
</ul>

<h3 class="heading-medium">Pregnancy and diabetes</h3>

<p>Speak to your GP or care team if you’re thinking of having a baby.</p>

<p>You can have a safe pregnancy and birth if you have type 2 diabetes, but you will need to take extra precautions and have more appointments before and during pregnancy.</p>

<p><a href="#">Pregnancy and diabetes</a></p>

</div>

</main>

{% endblock %}
