{% extends 'templates/nhs_content_layout.html' %}

{% block content %}

<main id="content" role="main">

<div class="text markdown-content">

{% markdown %}
#Health problems caused by diabetes type 2#
You need to watch your health and have regular check-ups if you have diabetes because high blood sugar can cause other problems. 

It can damage your blood vessels, nerves and organs (eg heart and kidneys) and lead to:

- [heart disease](http://www.nhs.uk/conditions/coronary-heart-disease/pages/introduction.aspx) and [stroke](http://www.nhs.uk/conditions/coronary-heart-disease/pages/introduction.aspx)
- pain, tingling and loss of feeling (nerve damage)
- vision loss and blindness
- foot problems - sores and infections
- loss of sensation and problems during sex
- miscarriage and stillbirth

Some complications can be avoided. It’s important you know the signs and what steps you should take to prevent them.

##What you can do##

Managing your blood sugar levels and having regular diabetes check-ups is the best way to lower your risk of complications. 

###Checking your heart###

You should have your blood fats (cholesterol) and blood pressure checked at least once a year. These checks happen as part of your [annual diabetes check-up]. Diabetes increases your risk of developing heart disease and stroke so it’s important high blood pressure and high cholesterol is spotted and treated early. 

Diabetes also worsens the harmful effects of smoking on your heart.  [Get help to quit smoking] (http://www.nhs.uk/LiveWell/Smoking/Pages/stopsmokingnewhome.aspx). 

###Watching your feet###

You should look after your feet and check them every day when you have diabetes.  

Diabetes can reduce the blood supply to your feet cause a loss of feeling.  This means foot injuries don’t heal well and you may not notice if your foot is sore or injured. 

Simple things are important like:
keeping feet clean and dry to avoid infection
trying not to go barefoot outside to avoid niks and cuts

Speak to your GP or care team if you notice any changes, including:

- cuts, cracks or blisters
- pain
- itching
- Numbness of the feet-

Diabetes UK has advice on [how to check your feet](https://www.diabetes.org.uk/Guide-to-diabetes/Complications/Feet/)

Your feet should also be checked by a foot specialist (podiatrist) every year.
  
Sores or infections that aren’t treated early can lead to gangrene. More than 135 amputations are carried out every week in the UK due to diabetes.

###Going for eye screening###

[Your eyes should be checked every year] (http://www.nhs.uk/conditions/diabetes/pages/diabetic-eye-screening.aspx) for damaged blood vessels, which can cause sight problems [(diabetic retinopathy)] (http://www.nhs.uk/Conditions/Diabetic-retinopathy/Pages/Introduction.aspx) and blindness.  Eye checks can detect damage before you notice changes to your sight. Treating damaged blood vessels early may stop them affecting your sight. 
 
Speak to your GP immediately if there are any changes to your sight, including:

- blurred vision, especially at night
- shapes floating in your sight (floaters)
- sensitivity to light

###Pregnancy and diabetes###

Speak to your GP or care team if you’re thinking of having a baby.  

You can have a safe pregnancy and birth if you have type 2 diabetes, but you will need to take extra precautions and have more appointments before and during pregnancy. 


[Pregnancy and diabetes](/LINK)
{% endmarkdown %}

</div>

</main>

{% endblock %}
