{% extends 'templates/nhs_content_layout.html' %}

{% block content %}

<main id="content" role="main">

<div class="text">

<h1 class="heading-xlarge">Diabetes pages</h1>

<ul class="list-bullet">
  <li><a href="/diabetes-content/diabetes-2-diagnosis">Understanding your diabetes type 2 diagnosis</a></li>
  <li><a href="/diabetes-content/diet">Food and keeping active for people with diabetes type 2</a></li>
  <li><a href="/diabetes-content/health-problems-caused-by-diabetes-type-2">Health problems caused by diabetes type 2</a></li>
  <li><a href="/diabetes-content/check-if-you-have-diabetes-type-2">Check if you have diabetes type 2</a></li>
  <li><a href="/diabetes-content/going-for-regular-diabetes-check-ups">Going for regular diabetes check ups</a></li>
</ul>

</div>

</main>

{% endblock %}
