{% macro text_field(i) %}
  <div class="form-item-wrapper">
    <div class="form-group">
      <label class="form-label-bold" for="{{ i.id }}">
        {{ i.label|safe }}
      </label>
      {% if i.hint %}
        <p class="form-hint">{{ i.hint|safe }}</p>
      {% endif %}
      <input type="text" id="{{ i.id }}" name="{{ i.id }}" value="{{ i.value }}" class="form-control {{ i.class }}">
    </div>
  </div>
{% endmacro %}

{% macro password_field(i) %}
  <div class="form-item-wrapper">
    <div class="form-group">
      <label class="form-label-bold" for="{{ i.id }}">
        {{ i.label }}
      </label>
      {% if i.hint %}
        <p class="form-hint">{{ i.hint }}</p>
      {% endif %}
      <input type="password" id="{{ i.id }}" name="{{ i.id }}" class="form-control {{ i.class }}">
    </div>
  </div>
{% endmacro %}

{% macro date_field(i) %}
  <div class="form-item-wrapper">
    <fieldset>
      <legend class="form-label-bold">
        {{ i.label }}
      </legend>
      {% if i.hint_date %}
        <p class="form-hint">For example {{ i.hint_date }}</p>
      {% endif %}
      <div class="inline-form-groups">
        <div class="form-group">
          <label class="form-label" for="{{ i.id_prefix }}day">Day</label>
          <input class="form-control form-control-2-chars" id="{{ i.id_prefix }}day" type="number" min="0" max="31">
        </div>
        <div class="form-group">
          <label class="form-label" for="{{ i.id_prefix }}month">Month</label>
          <input class="form-control form-control-2-chars" id="{{ i.id_prefix }}month" type="number" min="0" max="12">
        </div>
        <div class="form-group">
          <label class="form-label" for="{{ i.id_prefix }}year">Year</label>
          <input class="form-control form-control-4-chars" id="{{ i.id_prefix }}year" type="number" min="0">
        </div>
      </div>
    </fieldset>
  </div>
{% endmacro %}

{% macro address_fields(i) %}
  <div class="form-item-wrapper">
    <fieldset class="form-group">
      <label class="form-label-bold" for="{{ i.id }}">
        {{ i.label }}
      </label>
      {% if i.hint %}
        <p class="form-hint">{{ i.hint }}</p>
      {% endif %}
      <input type="text" id="{{ i.id }}" class="form-control form-group-related" value="">
      <input type="text" class="form-control form-group-related" value="">
      <input type="text" class="form-control form-group-related" value="">
      <input type="text" class="form-control form-group-related" value="">
      <input type="text" class="form-control form-group-related" value="">
      <input type="text" class="form-control" value="">
    </fieldset>
  </div>
{% endmacro %}

{% macro radio_button_single(i) %}
  <div class="form-item-wrapper">
    <div class="form-group">
      <input type="radio" id="{{ i.id }}" name="{{ i.name }}" value="{{ i.value }}">
      <label class="form-control-radio" for="{{ i.id }}">
        {{ i.label|safe }}
      </label>
    </div>
  </div>
{% endmacro %}

{% macro radio_buttons(i) %}
  {% for x in i.options %}
    {% if loop.first %}
      <div class="form-group inline-form-groups">
        <p class="form-hint">Select one:</p>
          <div class="form-group">
    {% endif %}
            <input type="radio" id="{{ i.id }}-{{ loop.key }}" name="{{ i.id }}" value="{{ i.id }}-{{ loop.key }}">
            <label class="form-label form-control-radio" for="{{ i.id }}-{{ loop.key }}">
              {{ x }}
            </label>
    {% if loop.last %}
        </div>
      </div>
    {% endif %}
  {% endfor %}
{% endmacro %}


{% macro checkboxes(i) %}
  {% for x in i.options %}
    {% if loop.first %}
  <div class="form-group">
    <p class="form-hint">Select all that apply:</p>
      <div class="form-group">
    {% endif %}
        <input type="checkbox" id="{{ i.id }}-{{ loop.key }}" value="{{ i.id }}-{{ loop.key }}">
        <label class="form-label form-control-checkbox" for="{{ i.id }}-{{ loop.key }}">
          {{ x }}
        </label>
    {% if loop.last %}
    </div>
  </div>
    {% endif %}
  {% endfor %}
{% endmacro %}

{% macro button(i) %}
  <div class="form-item-wrapper">
    <div class="form-group">
      {% if i.href %}
        <a href="{{ i.href }}" class="button {{ i.classes }}">{{ i.label }}</a>
      {% else %}
        <button type="submit" class="button {{ i.classes }}">{{ i.label }}</button>
      {% endif %}
    </div>
  </div>
{% endmacro %}
