{% macro text_field(i) %}
 <div class="form-group">
   <label class="form-label-bold" for="{{ i.id }}">
     {{ i.label }}
     {% if i.hint %}
       <span class="form-hint">{{ i.hint }}</span>
     {% endif %}
   </label>
   <input type="text" id="{{ i.id }}" name="{{ i.id }}" value="{{ i.value }}" class="form-control">
 </div>
{% endmacro %}

{% macro password_field(i) %}
 <div class="form-group">
   <label class="form-label-bold" for="{{ i.id }}">
     {{ i.label }}
   </label>
   <input type="password" id="{{ i.id }}" name="{{ i.id }}" class="form-control">
 </div>
{% endmacro %}

{% macro date_field(i) %}
<fieldset>
  <legend class="form-label-bold">
    {{ i.label }}
    {% if i.hint_date %}
      <span class="form-hint">For example {{ i.hint_date }}</span>
    {% endif %}
  </legend>
  <div class="inline-form-groups">
    <div class="form-group">
      <label class="form-label" for="{{ i.id_prefix }}day">Day</label>
      <input class="form-control form-control-2-chars" id="{{ i.id_prefix }}day" type="number" pattern="[0-9]*" min="0" max="31">
    </div>
    <div class="form-group">
      <label class="form-label" for="{{ i.id_prefix }}month">Month</label>
      <input class="form-control form-control-2-chars" id="{{ i.id_prefix }}month" type="number" pattern="[0-9]*" min="0" max="12">
    </div>
    <div class="form-group">
      <label class="form-label" for="{{ i.id_prefix }}year">Year</label>
      <input class="form-control form-control-4-chars" id="{{ i.id_prefix }}year" type="number" pattern="[0-9]*" min="0">
    </div>
  </div>
</fieldset>
{% endmacro %}

{% macro address_fields(i) %}
<fieldset class="form-group">
  <label class="form-label-bold" for="{{ i.id }}">
    {{ i.label }}
    {% if i.hint %}
      <span class="form-hint">{{ i.hint }}</span>
    {% endif %}
  </label>
  <input type="text" id="{{ i.id }}" class="form-control" value="">
  <input type="text" class="form-control" value="">
  <input type="text" class="form-control" value="">
  <input type="text" class="form-control" value="">
  <input type="text" class="form-control" value="">
  <input type="text" class="form-control" value="">
</fieldset>
{% endmacro %}

{% macro radio_buttons(i) %}
  {% for x in i.options %}
    {% if loop.first %}
  <div class="form-group inline-form-groups">
    <p class="form-hint">Select one:</p>
      <div class="form-group">
    {% endif %}
        <input type="radio" id="{{ i.id }}-{{ loop.key }}" name="{{ i.id }}" value="{{ i.id }}-{{ loop.key }}">
        <label class="form-label form-control-radio" for="{{ i.id }}-{{ loop.key }}">
          {{ x }}
        </label>
    {% if loop.last %}
    </div>
  </div>
    {% endif %}
  {% endfor %}
{% endmacro %}


{% macro checkboxes(i) %}
  {% for x in i.options %}
    {% if loop.first %}
  <div class="form-group">
    <p class="form-hint">Select all that apply:</p>
      <div class="form-group">
    {% endif %}
        <input type="checkbox" id="{{ i.id }}-{{ loop.key }}" value="{{ i.id }}-{{ loop.key }}">
        <label class="form-label form-control-checkbox" for="{{ i.id }}-{{ loop.key }}">
          {{ x }}
        </label>
    {% if loop.last %}
    </div>
  </div>
    {% endif %}
  {% endfor %}
{% endmacro %}
