<!-- Appointment link block -->
{% macro appointment_option(i) %}
  <div class="appointment-option">

    <!--
    <div class="appointment-distance">
      In {{ i.appointment_days_away }} days’ time
    </div>
    -->

    <div class="appointment-time">
      {% if i.appointment_date %}
        <b>{{ i.appointment_date }}</b> at
      {% endif %}
      <b>{{ i.appointment_time }}</b>
    </div>

    {% if i.address %}
      <div class="appointment-location">
        <div class="appointment-address">
          {{ i.address.join(', ') }}
        </div>
        <div class="appointment-map-link">
          <a href="#">Show a map</a>
        </div>
      </div>
    {% endif %}

    {% if i.appointment_type|lower === 'telephone' %}
      <div class="appointment-telephone-alert">
        This is a <b>{{ i.appointment_length }} minute telephone call</b>.
        You do <b>not</b> need to visit the surgery.
      </div>
    {% endif %}

    <div class="appointment-details">
      <div class="mugshot">
        <img src="{{ i.avatar_img_path }}">
      </div>
      <div class="details">
        <div class="practioner-name">{{ i.name }}</div>
        <div class="practioner-details">{{ i.position }}, {{ i.gender }}</div>
        <div class="appointment-type {{ i.appointment_type_class }}">
          {{ i.appointment_length }} minutes {{ i.appointment_type }}
        </div>
      </div>
      <div class="cta">
        <a href="{{ i.link_url }}" class="button button-secondary-cta">Book this appointment</a>
      </div>
    </div>

  </div>
{% endmacro %}

{% macro appointment_summary(i) %}
  <div class="appointment-summary">
    <div class="mugshot">
      <img src="{{ i.avatar_img_path }}">
    </div>
    <div class="details">
      <h3>
        {% if i.appointment_date %}
          {{ i.appointment_date }} at
        {% endif %}
        {{ i.appointment_time }}
      </h3>
      <p>
        <b>{{ i.name }}</b><br>
        {{ i.position }}, {{ i.gender }}
      </p>
      <p class="appointment-type {{ i.appointment_type_class }}">
        {{ i.appointment_length }} minute <b>{{ i.appointment_type }}</b> appointment
      </p>
      {% if i.address %}
        <p class="appointment-address">
          {{ i.address|safe }}
        </p>
      {% endif %}
      {% if i.tools %}
        <ul>
          <li>
            <a href="#" class="icomoon icomoon-calendar">Add to your calendar</a>
          </li>
          <!--<li>
            <a href="#" class="icomoon icomoon-location">Show a map</a>
          </li>-->
          <li>
            <a href="#" class="icomoon icomoon-printer">Print this page</a>
          </li>
          <li><a href="javascript:void(0)">Send me a text reminder 2 days before</a></li>
          <li><a href="javascript:void(0)" class="danger">Change or cancel this appointment</a></li>
        </ul>
        <p>
          <a href="/homepage" style="font-size: 16px;">Back to NHS.UK homepage</a>
        </p>
      {% endif %}
    </div>
  </div>
{% endmacro %}

<!-- Apointment confirmation block -->
{% macro appointment_confirmation(i) %}
  <h2 class="heading-large">{{ i.appointment_date }} at {{ i.appointment_time }}</h2>
  <div class="appointment-confirmation">
    <img src="{{ i.avatar_img_path }}" class="appointment-confirmation__avatar">
    <div class="appointment-confirmation__info">
      <p>
        <span class="font-medium">{{ i.name }}</span><br>
        {{ i.appointment_type }}
      </p>
    </div>
  </div>
{% endmacro %}

{% macro practitioner_link(i) %}
  <a href="{{ i.link_url }}" class="practioner-link">
    <div class="mugshot">
      <img src="{{ i.avatar_img_path }}">
    </div>
    <div class="details">
      <h3>{{ i.name }}</h3>
      <p>{{ i.position }}{% if i.gender %}, {{ i.gender }}{% endif %}</p>
    </div>
  </a>
{% endmacro %}

{% macro breadcrumbs(obj) %}
<div id="breadcrumbs">
  <div class="breadcrumbs-wrapper">

    <ol>
      <li><a href="/homepage">Home</a></li>
      {% for x in obj.items %}
      <li>
        {% if x.href %}
        <a href="{{ x.href }}">
        {% endif %}
        {{ x.text }}
        {% if x.href %}
        </a>
        {% endif %}
      </li>
      {% endfor %}
    </ol>

  </div>
</div>
{% endmacro %}

{% macro simple_pagination(i) %}
  <div class="pagination-simple">
    {% if i.next %}
    <div class="next-page">
      <a href="{{ i.next.url }}">
        <span class="prefix">Next page:</span>
        <span class="title">{{ i.next.title }}</span>
      </a>
    </div>
    {% endif %}
    {% if i.previous %}
    <div class="previous-page">
      <a href="{{ i.previous.url }}">
        <span class="prefix">Previous page:</span>
        <span class="title">{{ i.previous.title }}</span>
      </a>
    </div>
    {% endif %}
  </div>
{% endmacro %}
