<!-- Appointment link block -->
{% macro appointment_option(i) %}
  <a href="{{ i.link_url }}" class="appointment-option">
    <div class="mugshot">
      <img src="{{ i.avatar_img_path }}">
    </div>
    <div class="details">
      <h3>
        {% if i.appointment_date %}
          {{ i.appointment_date }} at
        {% endif %}
        {{ i.appointment_time }}
      </h3>
      <p>
        <b>{{ i.name }}</b><br>
        {{ i.position }}, {{ i.gender }}
      </p>
      <p class="appointment-type {{ i.appointment_type_class }}">
        {{ i.appointment_length }} minute <b>{{ i.appointment_type }}</b> appointment
      </p>
    </div>
  </a>
{% endmacro %}

{% macro appointment_summary(i) %}
  {% if i.link_url %}
    <a href="{{ i.link_url }}" class="appointment-summary {{ i.modifier_css_classes }}">
  {% else %}
    <div class="appointment-summary {{ i.modifier_css_classes }}">
  {% endif %}
      <h3 class="heading-medium">{{ i.appointment_date }} at {{ i.appointment_time }}</h3>
      <img src="{{ i.avatar_img_path }}" class="appointment-summary__avatar">
      <div class="appointment-summary__info">
        <div>{{ i.name }}</div>
        <div class="font-xsmall">{{ i.appointment_type }}</div>
        {% if i.appointment_length %}
          <div class="font-xsmall">{{ i.appointment_length }} minutes</div>
        {% endif %}
      </div>
  {% if i.link_url %}
    </a>
  {% else %}
    </div>
  {% endif %}
{% endmacro %}

<!-- Apointment confirmation block -->
{% macro appointment_confirmation(i) %}
  <h2 class="heading-large">{{ i.appointment_date }} at {{ i.appointment_time }}</h2>
  <div class="appointment-confirmation">
    <img src="{{ i.avatar_img_path }}" class="appointment-confirmation__avatar">
    <div class="appointment-confirmation__info">
      <p>
        <span class="font-medium">{{ i.name }}</span><br>
        {{ i.appointment_type }}
      </p>
    </div>
  </div>
{% endmacro %}
