{% extends 'templates/nhs_transaction_layout.html' %}

{% block afterHeader %}
  <div class="service-header">
    <div class="service-name">
      Your planner for type 2 diabetes
    </div>
  </div>
{% endblock %}

{% block content %}
  <main id="content" role="main">
    <div class="js-cards items-container">
      {% include 'planner/cards/medication.html' %}
      {% include 'planner/cards/apply-for-free-prescriptions.html' %}
      {% include 'planner/cards/repeat-prescription.html' %}
    </div>
  </main>
{% endblock %}
