{% extends 'templates/nhs_transaction_layout.html' %}

{% block afterHeader %}
  <div class="service-header">
    <div class="service-name">
      Your planner for type 2 diabetes
    </div>
  </div>
{% endblock %}

{% block content %}
  <main id="content" class="planner" role="main">
    <section>
      <div class="js-cards items-container">
        {% for card in cards.past %}
          {% set template = 'planner/cards/' + card + '.html' %}
          {% include template %}
        {% endfor %}
      </div>
    </section>

    <section>
      <header>
        <h2>Things to do</h2>
      </header>

      <div class="js-cards items-container">
        {% for card in cards.present %}
          {% set template = 'planner/cards/' + card + '.html' %}
          {% include template %}
        {% endfor %}
      </div>
    </section>

    <section>
      <header>
        <h2>Next time</h2>
      </header>

      <div class="js-cards items-container">
        {% for card in cards.future %}
          {% set template = 'planner/cards/' + card + '.html' %}
          {% include template %}
        {% endfor %}
      </div>
    </section>
  </main>
{% endblock %}
