{% extends 'templates/nhs_transaction_layout.html' %}

{% block content %}
  <main id="content" role="main">
    <h1 class="heading-xlarge">Your NHS planner for type 2 diabetes</h1>

    <div class="text">
      <p>This planner helps you to:</p>

      <ul class="list-bullet">
        <li>book appointments</li>
        <li>renew prescriptions</li>
        <li>set text reminders for tests and prescriptions</li>
        <li>find out what you have to do, when, and why</li>
      </ul>

      <p>
        <a class="button button-get-started" href="main#about-diabetes">Get started</a>
      </p>
    </div>
  </main>
{% endblock %}
