{% extends 'templates/nhs_transaction_layout.html' %}

{% block content %}
  <main id="content" role="main">
    <h1 class="heading-xlarge">Your NHS planner for type 2 diabetes</h1>

    <div class="text">
      <p>You can:</p>

      <ul class="list-bullet">
        <li>book and manage appointments</li>
        <li>renew prescriptions</li>
        <li>set text reminders for tests and prescriptions</li>
      </ul>

      <p>
        <a class="button button-get-started" href="login">Sign in</a>
      </p>
    </div>
  </main>
{% endblock %}
