<!-- Checkboxes example -->

<fieldset>
  <legend class="heading-medium">What kinds of fruit do you usually buy?</legend>
  <p>Select all that apply:</p>
  <div class="form-group">
    <input type="checkbox" id="apples">
    <label class="form-label form-control-checkbox" for="apples">
      apples
    </label>
    <input type="checkbox" id="oranges">
    <label class="form-label form-control-checkbox" for="oranges">
      oranges
    </label>
    <input type="checkbox" id="pairs">
    <label class="form-label form-control-checkbox" for="pairs">
      pairs
    </label>
    <input type="checkbox" id="bananas">
    <label class="form-label form-control-checkbox" for="bananas">
      bananas
    </label>
  </div>
</fieldset>
