<!-- Create a password -->
<div class="form-item-wrapper">
  <fieldset>
    <legend class="form-label-bold">Create a password</legend>

    <p class="form-label">Your password must have:</p>
    <ul class="list-bullet">
      <li>at least 4 characters</li>
      <li>at least one number</li>
    </ul>

    <div class="form-group form-group-related">
      <label class="visuallyhidden" for="password">Create a password</label>
      <input type="password" class="form-control" id="password">
    </div>

    <div class="form-group">
      <input type="checkbox" id="show-password">
      <label class="form-control-checkbox minor" for="show-password">
        show typing
      </label>
    </div>
  </fieldset>
</div>
