<!-- Date of birth -->

<fieldset class="form-group">
  
  <legend class="heading-medium">Date of birth</legend>

  <div class="inline-form-groups">
    <div class="form-group">
      <label class="form-label" for="dob-day">Day</label>
      <input class="form-control form-control-2-chars" id="dob-day" type="number" pattern="[0-9]*" min="0" max="31">
    </div>

    <div class="form-group">
      <label class="form-label" for="dob-month">Month</label>
      <input class="form-control form-control-4-chars" id="dob-month" type="number" pattern="[0-9]*" min="0" max="12">
    </div>

    <div class="form-group">
      <label class="form-label" for="dob-year">Year</label>
      <input class="form-control form-control-4-chars" id="dob-year" type="number" pattern="[0-9]*" min="0" max="2014">
    </div>
  </div>
<!--
  <div class="form-group form-group-related compact-controls">
    <input type="checkbox" id="dont-know" class="js-toggle checkbox-header" data-toggle="#dont-know-help">
    <label class="form-label form-control-checkbox" for="dont-know">
      I don't know my date of birth
    </label>
  </div>

  <div class="text js-hidden" id="dont-know-help">
    <p>
      If you're not sure of your exact date of birth give your best guess.<br>
      You can miss out the day or month if you don't know them.
    </p>
  </div>
-->

</fieldset>