<!-- Pounds per time period -->

<fieldset>
  <legend class="heading-medium">How much do you spend on fruit?</legend>
  <div class="inline-form-groups">
    <div class="form-group">
      <label class="form-label horizontal-right-label" for="currency-pound">
        <input type="text" class="form-control form-control-4-chars" id="currency-pound">pounds
      </label>
    </div>
    <div class="form-group">
      <label class="form-label visuallyhidden"></label>
      <select class="form-select">
        <option>a week</option>
        <option>every 4 weeks</option>
        <option>a month</option>
        <option>a year</option>
      </select>
    </div>
  </div>
</fieldset>
