<!-- Preferred contact method -->

<div class="form-item-wrapper">
  <fieldset>
    <legend class="form-label-bold">Preferred method of contact</legend>

    <p class="form-label">
      We’ll only contact you when it’s important.
    </p>
    <p class="form-label">
      Select one:
    </p>

    <div class="inline-form-groups">
      <div class="form-group">
        <input type="radio" id="email" name="contact">
        <label class="form-control-radio js-toggle" for="email" data-show="#contact-email-address" data-hide="#contact-mobile-number">
          email
        </label>
      </div>
      <div class="form-group">
        <input type="radio" id="mobile" name="contact">
        <label class="form-control-radio js-toggle" for="mobile" data-hide="#contact-email-address" data-show="#contact-mobile-number">
          text message
        </label>
      </div>
    </div>

    <div class="js-hidden panel-indent" id="contact-email-address">
      <label class="form-label-bold" for="email-address">
        Email address
      </label>
      <p class="form-hint">We’ll ask you to confirm this before you can use the service</p>
      <input type="text" id="email-address" class="form-control">
    </div>

    <div class="js-hidden panel-indent" id="contact-mobile-number">
      <label class="form-label-bold" for="mobile-number">
        Mobile number
      </label>
      <p class="form-hint">We’ll ask you to confirm this before you can use the service</p>
      <input type="text" id="mobile-number" class="form-control form-control-14-chars">
    </div>

  </fieldset>
</div>
