// Modular scale
// ---------------------------------------

// Setting responsive modular-scales. Use appropriate scales for viewport sizes.
$modular-scale: (
  scale-0: (
    // Aug. Fourth: http://www.modularscale.com/?15,39&px&1.414&web&text
    xx-large: 39,
    x-large:  27.581,
    large:    21.21,
    medium:   19.506,
    small:    15,
    x-small:  10.608
  ),
  scale-1: (
    // Aug. Fourth: http://www.modularscale.com/?18&px&1.414&web&text
    xx-large: 71.957,
    x-large:  50.889,
    large:    35.989,
    medium:   25.452,
    small:    18,
    x-small:  12.73
  )
);
