/* Homepage styles - sketched in */

.fleft {
  float: left;
}
.fright {
  float: right;
}

.generic-wrapper {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 30px;
}

.copy-small {
  font-size: 16px;
}

.button,
.button:link, .button:hover, .button:focus, .button:visited {
  background-color: #00953a;
  border-color: #00953a;
}

/* header area */

#global-header {
  border-bottom: 0;
}
#global-header .header-container {
  position: relative;
  padding-top: 15px;
  height: 80px;
}

.blurb {
  margin-top: 19px;
  margin-left: 12px;
  color: #fff;
  font-size: 16px;
  line-height: 16px;
}
.sign-in {
  position: absolute;
  right: 0;
  top: 0;
  padding: 30px;
  background-color: #FFED00;
}
.sign-in .button {
  background-color: #231f20;
  border-color: #231f20;
}

/* search area */

.search-area {
  background-color: #E7F0F9;
  padding-top: 60px;
  padding-bottom: 60px;
  height: 51px;
}

.search-area input[type="text"] {
  float: left;
  font-size: 26px;
  line-height: 45px;
  padding: 0 15px;
  width: 720px;
  background-color: #fff;
  border: 3px solid #231f20;
}

.search-area button {
  text-indent: -999em;
  background: url(/public/images/icon-search.svg) center no-repeat;
  float: left;
  width: 51px;
  height: 51px;
  background-color: #231f20;
  border: 3px solid #231f20;
}

/* symptoms and conditions area */

.content-area {
  color: #fff;
  background-color: #0072C6;
  padding-top: 30px;
  padding-bottom: 30px;
}
.content-area a {
  color: #fff;
}

/* Services area */

.services-area {
  background-color: #fff;
  padding-top: 30px;
  padding-bottom: 60px;
}
.new-service-flag {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #FFED00;
}

/* Footer area */

html {
  background-color: #f4f4f4;
}
#footer {
  color: #231f20;
  border-top: 0;
  background-color: #f4f4f4;
}
#footer a {
  color: #231f20;
}
.copyright {
  font-size: 14px;
  line-height: 16px;
}
