{% extends 'templates/planner_card.html' %}

{% block id %}about-diabetes{% endblock %}

{% block heading %}
  Things you have to do when you have type 2 diabetes
{% endblock %}

{% block body %}
  <p class="lede">
    You’ve been diagnosed with type 2 diabetes. This means your blood sugar is
    too high.
  </p>

  <p>You can manage your diabetes to control your blood sugar and prevent other
  health problems, like heart disease or damage to your eyes.</p>

  <p>Things to do to manage your diabetes:</p>

  <ul class="list-bullet">
    <li>take medication</li>
    <li>go for regular blood sugar, eye and foot check ups</li>
    <li>be active and eat a healthy diet</li>
  </ul>

  <p><a href="#">
    Learn more about type 2 diabetes at <strong>diabetes.org.uk</strong>
  </a></p>
{% endblock %}
