{% extends 'templates/planner_card.html' %}

{% block id %}book-your-blood-test{% endblock %}
{% block css-class %}item-cta{% endblock %}

{% block heading %}
  Book your blood sugar test
{% endblock %}

{% block leadin-cta %}
  <a href="book-blood-test?{{ querystring }}" class="button item-permanent-cta button-get-started">
    Book <span class="visuallyhidden">your blood sugar test</span> now
  </a>
{% endblock %}

{% block body %}
  <div class="item-body-content">
    <p>
      You need to have your blood sugar level checked every 3 months so your
      medication can be adjusted if needed.
    </p>

    <p>
      <a href="javascript:void(0)">More about blood sugar tests</a>
    </p>
  </div>
{% endblock %}
