{% extends 'templates/planner_card.html' %}

{% block id %}book-your-first-diabetes-review{% endblock %}

{% block heading %}
  Book your first diabetes review
{% endblock %}

{% block leadin %}
  <p>The review checks your average blood sugar levels and how close they are
  to normal. It also checks your general health.</p>

  <p><a href="book-diabetes-review?{{ querystring }}" class="button item-permanent-cta button-get-started">
    Book your diabetes review now
  </a></p>
{% endblock %}

{% block body %}
  <p>You should book your first diabetes review as soon as you are diagnosed
  with type 2 diabetes. Until your blood sugar levels are healthy you should
  have your blood sugar levels checked every 3 months.</p>

  <p>At the review you’ll have:</p>

  <ul class="list-bullet">
    <li>a blood test for blood sugar and cholesterol levels</li>
    <li>your blood pressure taken</li>
    <li>a urine test for kidney function</li>
    <li>your weight and height measured</li>
  </ul>

  <p><a href="#">Health problems caused by type 2 diabetes</a></p>
{% endblock %}
