{% extends 'templates/planner_card.html' %}

{% block id %}book-your-first-eye-test{% endblock %}
{% block css-class %}item-cta{% endblock %}

{% block heading %}
  Book your diabetes eye check
{% endblock %}

{% block leadin %}
  <div class="item-leadin-content">
    You shouldn’t drive for 2 hours after the eye check.
  </div>
{% endblock %}

{% block leadin-cta %}
  <a href="book-eye-test?{{ querystring }}" class="button item-permanent-cta button-get-started">
    Book <span class="visuallyhidden">your diabetes eye check</span> now
  </a>
{% endblock %}

{% block body %}
<div class="item-body-content">
  <p>
    A diabetes eye check looks for damage to your eyes which can lead to sight
    problems and possibly blindness:
  </p>

  <ul class="list-bullet">
    <li>you get drops in your eyes to enlarge your pupils (temporarily)</li>
    <li>a photo will be taken of the back of your eye</li>
    <li>your vision can be blurry for a couple of hours afterwards</li>
  </ul>

  <p>
    <a href="/type-2-diabetes/health-problems-caused-by-diabetes-type-2">
      Why diabetes eye checks are important
    </a>
  </p>
</div>
{% endblock %}
