{% extends 'templates/planner_card.html' %}

{% block id %}book-your-first-eye-test{% endblock %}
{% block css-class %}item-cta{% endblock %}

{% block heading %}
  Book your diabetes eye check
{% endblock %}

{% block leadin %}
  <div class="item-leadin-content">
    Plan how you’ll get home after the check. Drops can make your eyes blurry
    and you shouldn’t drive for a couple of hours afterwards.
  </div>
{% endblock %}

{% block leadin-cta %}
  <a href="book-eye-test?{{ querystring }}" class="button item-permanent-cta button-get-started">
    Book <span class="visuallyhidden">your diabetes eye check</span> now
  </a>
{% endblock %}

{% block body %}
<div class="item-body-content">
  <p>
    A diabetes eye check looks for damage to your eyes which can lead to sight
    problems and possibly blindness:
  </p>

  <ul class="list-bullet">
    <li>you get drops in your eyes to enlarge your pupils (temporarily)</li>
    <li>a photo will be taken of the back of your eye</li>
  </ul>

  <p>
    <a href="javascript:void(0)">More about diabetes eye checks</a>
  </p>
</div>
{% endblock %}
