{% extends 'templates/planner_card.html' %}

{% block id %}metformin-info-card{% endblock %}

{% block heading %}
  Your metformin medication
{% endblock %}

{% block body %}
  <div class="item-body-content">
    <p>You picked up your last prescription on 19 October 2015</p>

    <p class="lede">You’re on Metformin (500mg)</p>

    <ul class="list-bullet">
      <li>Take 1 tablet a day</li>
      <li>Swallow tablets with water after you’ve eaten</li>
      <li>Do not chew these tablets</li>
    </ul>

    <p>Metformin can cause side effects. <a href="/book-an-appointment">Speak to
    your GP</a> if you have:</p>

    <ul class="list-bullet">
      <li>bloating</li>
      <li>diarrhoea</li>
      <li>feeling sick</li>
    </ul>

    <details>
      <summary>More about Metformin</summary>
      <div>
        <p>Metformin helps keep your blood sugar (glucose) level under control.</p>

        <p>It works by:</p>

        <ul class="list-bullet">
          <li>reducing the amount of glucose released into your blood</li>
          <li>helping the cells remove glucose from the blood</li>
          <li>reducing the amount of glucose you absorb from your food</li>
        </ul>

        <p><a href="https://www.diabetes.org.uk/biguanide">Read about metformin on Diabetes UK</a></p>
      </div>
    </details>
  </div>
{% endblock %}
