{% extends 'templates/planner_card.html' %}

{% block id %}repeat-prescription-card{% endblock %}

{% block heading %}
  Pick up your next Metformin prescription on 19 November 2015
{% endblock %}

{% block body %}
  <p class="lede">30x500mg of Metformin tablets</p>

  <p>Pick up from:</p>

  <p>
    Essentials Pharmacy<br>
    169 Drury Lane<br>
    London<br>
    WC2B 5QA<br>
    <a href="#">Show map</a>
  </p>

  <ul>
    <li><a href="#">Send me a text reminder the day before</a></li>
    <li><a href="#">Change my pharmacy</a></li>
  </ul>

  <p>You <strong>do not</strong> have to see your GP for this prescription</p>
{% endblock %}
