{% extends 'templates/planner_card.html' %}

{% block id %}your-diabetes-review-appointment{% endblock %}

{% block heading %}
  Your diabetes review appointment
{% endblock %}

{% block leadin %}
  <p>Wednesday 28 October 2015 from 9:00am to 9:30am</p>
{% endblock %}

{% block body %}
  <p>Covent Garden Medical Centre<br>
  47 Shorts Gardens<br>
  London<br>
  WC2H 9AA</p>

  <p>Sasheika Wrench<br>
  Nurse practitioner, female</p>

  <ul>
    <li><a href="#">Send me a text reminder the day before</a></li>
    <li><a href="#">Change appointment</a></li>
  </ul>
{% endblock %}
