{% extends 'templates/planner_card.html' %}
{% import 'includes/ui_element_macros.html' as ui_element_macros %}

{% block id %}your-diabetes-review-appointment{% endblock %}

{% block heading %}
  Your diabetes review appointment
{% endblock %}

{% block body %}
  {{
    ui_element_macros.appointment_summary({
      appointment_date: booked_diabetes_review.appointment_date,
      appointment_time: booked_diabetes_review.appointment_time,
      avatar_img_path: '/public/images/' + booked_diabetes_review.practitioner.photo,
      name: booked_diabetes_review.practitioner.name,
      position: booked_diabetes_review.practitioner.role,
      gender: booked_diabetes_review.practitioner.gender,
      appointment_length: booked_diabetes_review.appointment_length,
      appointment_type: booked_diabetes_review.appointment_type,
      appointment_type_class: booked_diabetes_review.appointment_type_class,
      address: booked_diabetes_review.address.join('<br>'),
      tools: 'true'
    })
  }}
{% endblock %}
