{% extends 'templates/planner_card.html' %}
{% import 'includes/ui_element_macros.html' as ui_element_macros %}

{% block id %}your-blood-test-appointment{% endblock %}

{% block heading %}
  Blood sugar test
{% endblock %}

{% block body %}
  {{
    ui_element_macros.appointment_summary({
      appointment_date: booked_blood_test.appointment_date,
      appointment_time: booked_blood_test.appointment_time,
      avatar_img_path: '/public/images/' + booked_blood_test.practitioner.photo,
      name: booked_blood_test.practitioner.name,
      position: booked_blood_test.practitioner.role,
      gender: booked_blood_test.practitioner.gender,
      appointment_length: booked_blood_test.appointment_length,
      appointment_type: booked_blood_test.appointment_type,
      appointment_type_class: booked_blood_test.appointment_type_class,
      address: booked_blood_test.address.join('<br>'),
      tools: 'true'
    })
  }}

  <details>
    <summary>What’s a blood sugar test?</summary>

    <p>You need to have your blood sugar level checked every 3 months so your
    medication can be adjusted if needed.</p>
  </details>
{% endblock %}
