{% extends 'templates/nhs_layout.html' %}

{% block afterHeader %}
  {% include "includes/service-headers/register-with-a-gp.html" %}
{% endblock %}

{% block content %}

<main id="content" role="main">

  <h1 class="heading-xlarge">
    Choose registration method
  </h1>

  <form action="choose-registration-method-handler" method="get" class="form">
    <fieldset>
      <legend class="heading-medium">Do you have an NHS login?</legend>
      <div class="form-group">
        <input type="radio" id="sign-in-to-register" name="registration_method" value="with-signin">
        <label class="form-label form-control-radio" for="sign-in-to-register">
          <strong>Yes I do,</strong> I will sign in to register
        </label>
      </div>
      <div class="form-group">
        <input type="radio" id="register-without-signing-in" name="registration_method" value="without-signin">
        <label class="form-label form-control-radio" for="register-without-signing-in">
          <strong>No I don’t,</strong> I will register without signing in
        </label>
      </div>
    </fieldset>

    <div class="form-group">
      <button type="submit" class="button">Next</button>
    </div>
  </form>
</main>

{% endblock %}
