{% extends 'templates/nhs_transaction_layout.html' %}
{% import 'includes/form_macros.html' as form_macros %}

{% block afterHeader %}
  {% include "includes/service-headers/register-with-a-gp.html" %}
{% endblock %}

{% block content %}

<main id="content" role="main">

  <form action="" method="get" class="form text">

    <h1 class="heading-xlarge">
      Dispensing medicines and appliances
    </h1>

    <fieldset>
      <legend class="form-label-bold">Do you need your GP practice to dispense medicines and appliances?</legend>
      <div class="inline-form-groups">
        <div class="form-group">
          <input type="radio" id="dispense-yes" name="dispense">
          <label class="form-control-radio" for="dispense-yes">
            Yes
          </label>
        </div>
        <div class="form-group">
          <input type="radio" id="dispense-no" name="dispense">
          <label class="form-control-radio" for="dispense-no">
            No
          </label>
        </div>
      </div>
    </fieldset>

    <details>
      <summary>What does this mean?</summary>
      <div>
        <p>If you:</p>
        <ul class="list-bullet">
          <li>Live more than a mile from the nearest chemist</li>
          <li>Would have serious difficulty in getting medicines and appliances from a chemist</li>
        </ul>
        <p>Then you can ask for your GP practice to dispense to you instead. Note that not all practices are able to dispense.</p>
      </div>
    </details>

    {{
      form_macros.button({
        href: 'application-complete',
        label: 'Next'
      })
    }}

  </form>
</main>

{% endblock %}
