{% extends 'templates/nhs_transaction_layout.html' %}
{% import 'includes/form_macros.html' as form_macros %}

{% block afterHeader %}
  {% include "includes/service-headers/register-with-a-gp.html" %}
{% endblock %}

{% block content %}

<main id="content" role="main">

  <h1 class="heading-xlarge">
    Blood and organ donation
  </h1>

  <form action="" method="get" class="form text">

    <h2 class="heading-medium">NHS Blood Donor Register</h2>
    <p>
      Would you be prepared to give blood?
    </p>

    <div class="form-group">
      <input type="radio" id="blood-yes" name="blood">
      <label class="form-control-radio js-toggle" for="blood-yes" data-show="#blood-donor">
        Yes
      </label>
      <input type="radio" id="blood-no" name="blood">
      <label class="form-control-radio js-toggle" for="blood-no" data-hide="#blood-donor">
        No
      </label>
    </div>

    <div class="js-hidden panel-indent" id="blood-donor">
      <fieldset class="form-group">
        <legend>Have you given blood in the last 3 years?</legend>
        <input type="radio" id="blood-given-yes" name="blood-given">
        <label class="form-control-radio js-toggle" for="blood-given-yes">
          Yes
        </label>
        <input type="radio" id="blood-given-no" name="blood-given">
        <label class="form-control-radio js-toggle" for="blood-given-no">
          No
        </label>
      </fieldset>
    </div>

    <h2 class="heading-medium">NHS Organ Donation Register</h2>
    <p>
      Are you willing for your organs to be used for transplantation after your death?
    </p>

    <div class="form-group">
      <input type="radio" id="organs-yes" name="organs">
      <label class="form-control-radio js-toggle" for="organs-yes" data-show="#organ-donor">
        Yes
      </label>
      <input type="radio" id="organs-no" name="organs">
      <label class="form-control-radio js-toggle" for="organs-no" data-hide="#organ-donor">
        No
      </label>
    </div>

    <div class="js-hidden panel-indent" id="organ-donor">
      <fieldset>
        <legend>I will donate</legend>

        <div class="form-group">
          <input type="checkbox" id="corneas">
          <label class="form-control-checkbox" for="corneas" tabindex="0" role="checkbox">
            Corneas
          </label>
        </div>

        <div class="form-group">
          <input type="checkbox" id="heart">
          <label class="form-control-checkbox" for="heart">
            Heart
          </label>
        </div>

        <div class="form-group">
          <input type="checkbox" id="kidneys">
          <label class="form-control-checkbox" for="kidneys">
            Kidneys
          </label>
        </div>

        <div class="form-group">
          <input type="checkbox" id="liver">
          <label class="form-control-checkbox" for="liver">
            Liver
          </label>
        </div>

        <div class="form-group">
          <input type="checkbox" id="lungs">
          <label class="form-control-checkbox" for="lungs">
            Lungs
          </label>
        </div>

        <div class="form-group">
          <input type="checkbox" id="pancreas">
          <label class="form-control-checkbox" for="pancreas">
            Pancreas
          </label>
        </div>

        <div class="form-group">
          <input type="checkbox" id="any-part-of-my-body">
          <label class="form-control-checkbox" for="any-part-of-my-body">
            Any part of my body
          </label>
        </div>
      </fieldset>
    </div>

    <div class="form-group expand-top">
      <a href="application-complete" class="button">Next</a>
    </div>

  </form>
</main>

{% endblock %}
