{% extends 'templates/nhs_transaction_layout.html' %}
{% import 'includes/form_macros.html' as form_macros %}

{% block afterHeader %}
  {% include "includes/service-headers/register-with-a-gp.html" %}
{% endblock %}

{% block content %}

<main id="content" role="main">

  <h1 class="heading-xlarge">
    Confirm your details
  </h1>

  <div class="text">
    <p>We will send your details to
    {{ session.practice.name | default('Practice Name') }}. Please check this
    information is up to date and make any changes needed.</p>
  </div>

  <form action="" method="get" class="form">

    {{
      form_macros.text_field({
        id: 'name',
        label: 'Name',
        value: 'Jose Bennett'
      })
    }}

    {{
      form_macros.text_field({
        id: 'address',
        label: 'Address',
        value: '13 Fletcher Street, London, NW13 3XC'
      })
    }}

    {{
      form_macros.text_field({
        id: 'email',
        label: 'Email',
        value: 'josetheb@gmail.com'
      })
    }}

    {{
      form_macros.text_field({
        id: 'phone',
        label: 'Phone',
        value: '07700 900414'
      })
    }}

    {{
      form_macros.button({
        href: 'application-complete',
        label: 'Confirm'
      })
    }}

  </form>
</main>

{% endblock %}
