{% extends 'templates/nhs_transaction_layout.html' %}
{% import 'includes/form_macros.html' as form_macros %}

{% block afterHeader %}
  {% include "includes/service-headers/register-with-a-gp.html" %}
{% endblock %}

{% block content %}

<main id="content" role="main">

  <h1 class="heading-xlarge">
    Your personal details
  </h1>

  <form action="" method="get" class="form">

    {{
      form_macros.text_field({
        id: 'Full name',
        label: 'Your name'
      })
    }}

    {{
      form_macros.date_field({
        label: 'Your date of birth',
        hint_date: '31 7 1961',
        id_prefix: 'dob-'
      })
    }}

    {{
      form_macros.address_fields({
        id: 'address-1',
        label: 'Your address',
        hint: 'As you’d write it on a envelope'
      })
    }}

    {{
      form_macros.text_field({
        id: 'telephone',
        label: 'Your telephone number (optional)'
      })
    }}

    <div class="form-group">
      <a href="your-existing-gp-details" class="button">Next</a>
    </div>

  </form>
</main>

{% endblock %}
