{% extends 'templates/nhs_layout.html' %}

{% block content %}

<main id="content" role="main">
  <h1 class="heading-xlarge">
    <span class="heading-secondary">Register with a GP</span>
    Registration confirmed
  </h1>

  <div class="text">
    <p>You are now registered with <strong>{{ session.practice.name
      }}</strong>, {{ session.practice.address }}</p>

    <p>It may take up to 6 weeks for your medical records to be moved to your
    new practice, but you can start using services right away</p>

    <p>
      <a class="button" href="#">
        Book an appointment now
      </a>
    </p>
  </div>
</main>

{% endblock %}
