{% extends 'templates/nhs_layout.html' %}
{% import 'includes/form_macros.html' as form_macros %}

{% block afterHeader %}
  {% include "includes/service-headers/register-with-a-gp.html" %}
{% endblock %}

{% block content %}

<main id="content" role="main">

  <h1 class="heading-xlarge">
    Sign in
  </h1>

  <form action="" method="get" class="form">

    {{
      form_macros.text_field({
        id: 'username',
        label: 'Username'
      })
    }}

    {{
      form_macros.password_field({
        id: 'password',
        label: 'Password'
      })
    }}

    <div class="form-group">
      <a href="register-with-signin-details" class="button">Sign in</a>
    </div>

  </form>
</main>

{% endblock %}
