{% extends 'templates/nhs_transaction_layout.html' %}

{% block afterHeader %}
  {% include "includes/service-headers/register-with-a-gp.html" %}
{% endblock %}

{% block content %}

<main id="content" role="main">
  <h1 class="heading-xlarge">
    Registration confirmed
  </h1>

  <div class="text">
    <p>
      You are now registered with
      <strong>{{ session.practice.name | default('Practice Name') }}</strong>,
      {{ session.practice.address | default('practice address') }}
    </p>

    <p>It may take up to 6 weeks for your medical records to be moved to your
    new practice, but you can start using services right away</p>

    <p>
      <a class="button" href="#">
        Book an appointment now
      </a>
    </p>
  </div>
</main>

{% endblock %}
