{% extends 'templates/nhs_transaction_layout.html' %}

{% block afterHeader %}
  {% include "includes/service-headers/register-with-a-gp.html" %}
{% endblock %}

{% block content %}

<main id="content" role="main">
  <!-- TODO: This will be weird if the user came from full results list -->
  <p><a href="suggested-gps" class="back-to-previous">Back to results</a></p>

  <h1 class="heading-xlarge">
    Shrewsbottom Surgery
  </h1>

  <div class="grid-row">
    <div class="column-third">
      <p>
        15 Pound Lane<br>
        London<br>
        NW12 9AT<br>
        <span class="font-xsmall">
          1.1 miles away, about a 20 minute walk
        </span>
      </p>
      <p>7 staff members, 2,000 patients</p>
      <h2 class="visuallyhidden">Services</h2>
      <ul class="list-bullet">
        <li>Travel vaccinations</li>
        <li>Over 40 health check</li>
        <li>Diabetes clinic</li>
        <li>Childhood vaccinations</li>
        <li>Quit smoking</li>
      </ul>

      <p>
        <a href="shrewsbottom-surgery/register">Register now</a>
      </p>
    </div>
    <div class="column-third">
      <img src="/public/images/gp-map.png" style="height: 22rem; margin-top: 1rem;">
    </div>
  </div>



  <div class="grid-row">
    <div class="column-third">
      <p>
        <span class="bold-large">89%</span><br>
        of patients would recommend this surgery
      </p>
    </div>
    <div class="column-third">
      <p>
        <span class="bold-large">88%</span><br>
        feel they are listened to
      </p>
    </div>
    <div class="column-third">
      <p>
        <span class="bold-large">5 days</span><br>
        average wait time for routine appointments
      </p>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-third">

      <h2 class="heading-medium">Appointment hours</h3>
      <table>
        <tr>
          <td>Monday to Friday</td>
          <td>9am &ndash; 5pm</td>
        </tr>
      </table>

    </div>
    <div class="column-third">

      <style>
        .list-test {
          padding-top: 0;
        }
        .list-test li {
          clear: both;
          margin-bottom: 2rem;
        }
        .list-test img {
          float: left;
          height: 5rem;
          margin-right: 1rem;
        }
        .list-test div {
          float: left;
          padding-top: 1rem;
          line-height: 1.4rem;
        }
      </style>

      <h2 class="heading-medium">Staff members</h2>
      <ul class="list-test">
        <li class="clearfix">
          <img src="/public/images/icon-avatar-helen-leaf.png">
          <div>
            Dr Helen Leaf<br>
            <span class="font-xsmall">GP, female</span>
          </div>
        </li>
        <li class="clearfix">
          <img src="/public/images/icon-avatar-mike-johnson.png">
          <div>
            Dr Mike Johnson<br>
            <span class="font-xsmall">GP, male</span>
          </div>
        </li>
        <li class="clearfix">
          <img src="/public/images/icon-avatar.svg">
          <div>
            Dr Emma Stace<br>
            <span class="font-xsmall">GP, female</span>
          </div>
        </li>
        <li class="clearfix">
          <img src="/public/images/icon-avatar-malcolm-branch.png">
          <div>
            Dr Malcolm Branch<br>
            <span class="font-xsmall">GP, male</span>
          </div>
        </li>
        <li class="clearfix">
          <img src="/public/images/icon-avatar.svg">
          <div>
            Sasheika Wrench<br>
            <span class="font-xsmall">Nurse practitioner, female</span>
          </div>
        </li>
        <li class="clearfix">
          <img src="/public/images/icon-avatar-jonathon-hope.png">
          <div>
            Jonathan Hope<br>
            <span class="font-xsmall">Nurse practitioner, male</span>
          </div>
        </li>
        <li class="clearfix">
          <img src="/public/images/icon-avatar-alison-wylde.png">
          <div>
            Alison Wylde<br>
            <span class="font-xsmall">Nurse, female</span>
          </div>
        </li>
      </ul>

    </div>
  </div>


  <div style="padding-top: 1rem;">
    <a class="button" href="shrewsbottom-surgery/register">Register with Shrewsbottom Surgery</a>
  </div>

</main>

{% endblock %}
