{% extends 'templates/nhs_layout.html' %}

{% block afterHeader %}
  {% include "includes/service-headers/register-with-a-gp.html" %}
{% endblock %}

{% block content %}

<main id="content" role="main">
  <p><a href="suggested-gps" class="back-to-previous">Back to results</a></p>

  <h1 class="heading-xlarge">
    Shrewsbottom Surgery
  </h1>

  <div class="text">

    <div class="grid-row">
      <div class="column-half column-switch-right">
        <p class="lede">
          15 Pound Lane<br>
          London<br>
          NW12 9AT
        </p>
        <p class="font-xsmall">
          About a 20 minute walk<br>
          1.1 miles away
        </p>
        <p class="bold-small">
          <a href="shrewsbottom-surgery/register">Register now</a>
        </p>
      </div>
      <div class="column-half">
        <img src="/public/images/gp-map.png" width="100%">
      </div>
    </div>

  </div>

  <h2 class="visuallyhidden">Ratings</h2>
  <div class="grid-row expand-top">
    <div class="column-third">
      <p>
        <span class="bold-large">89%</span><br>
        of patients would recommend this surgery
      </p>
    </div>
    <div class="column-third">
      <p>
        <span class="bold-large">88%</span><br>
        feel they are listened to
      </p>
    </div>
    <div class="column-third">
      <p>
        <span class="bold-large">65%</span><br>
        are happy with waiting times
      </p>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-half">

      <style>
        .list-test {
          margin-bottom: 30px;
        }
        .list-test li {
          clear: both;
          margin-bottom: 15px;
        }
        .list-test img {
          width: 75px;
          margin-right: 15px;
          float: left;
        }
        .list-test p {
          float: left;
          margin-top: 8px;
        }
      </style>

      <h2 class="heading-large">Staff</h2>
      <h3 class="heading-medium collapse-top">GPs</h3>
      <ul class="list-test">
        <li class="clearfix">
          <img src="/public/images/icon-avatar-helen-leaf.png">
          <p>
            Dr Helen Leaf<br>
            <span class="font-xsmall">female</span>
          </p>
        </li>
        <li class="clearfix">
          <img src="/public/images/icon-avatar-mike-johnson.png">
          <p>
            Dr Mike Johnson<br>
            <span class="font-xsmall">male</span>
          </p>
        </li>
        <li class="clearfix">
          <img src="/public/images/icon-avatar.svg">
          <p>
            Dr Emma Stace<br>
            <span class="font-xsmall">female</span>
          </p>
        </li>
        <li class="clearfix">
          <img src="/public/images/icon-avatar-malcolm-branch.png">
          <p>
            Dr Malcolm Branch<br>
            <span class="font-xsmall">male</span>
          </p>
        </li>
      </ul>

      <h3 class="heading-medium collapse-top">Nurse practitioners</h3>
      <ul class="list-test">
        <li class="clearfix">
          <img src="/public/images/icon-avatar.svg">
          <p>
            Sasheika Wrench<br>
            <span class="font-xsmall">female</span>
          </p>
        </li>
        <li class="clearfix">
          <img src="/public/images/icon-avatar.svg">
          <p>
            Jonathan Hope<br>
            <span class="font-xsmall">male</span>
          </p>
        </li>
      </ul>

      <h3 class="heading-medium collapse-top">Nurses</h3>
      <ul class="list-test">
        <li class="clearfix">
          <img src="/public/images/icon-avatar.svg">
          <p>
            Alison Wylde<br>
            <span class="font-xsmall">female</span>
          </p>
        </li>
        </ul>

    </div>
    <div class="column-half">

      <h2 class="heading-large">Services</h2>
      <ul class="list-bullet">
        <li>Travel vaccinations</li>
        <li>Over 40 health check</li>
        <li>Diabetes clinic</li>
        <li>Childhood vaccinations</li>
        <li>Quit smoking</li>
      </ul>

    </div>
  </div>

  <p>
    <a class="button" href="shrewsbottom-surgery/register">Register with Shrewsbottom Surgery</a>
  </p>
</main>

{% endblock %}
