{% extends 'templates/nhs_transaction_layout.html' %}

{% block content %}

<main id="content" role="main">

  <h1 class="heading-xlarge">Register with a GP practice</h1>

  <div class="text">
    <p>
      Use this service if you need to:
    </p>

    <ul class="list-bullet">
      <li>register with a GP practice for the first time</li>
      <li>register with a new GP practice after a house move or other reason</li>
      <li>register someone else or a dependant with a new GP practice</li>
    </ul>

    <p>
      <a class="button button-get-started" href="find-a-gp">Start now</a>
    </p>
  </div>
</main>

{% endblock %}
