{% extends 'templates/nhs_layout.html' %}

{% block content %}

<main id="content" role="main">

  <a href="next-available-appointment" class="back-to-previous">Back</a>

  <h1 class="heading-xlarge">
    <span class="heading-secondary">Register with a GP</span>
    Suggested GPs
  </h1>

  <div class="text">

    <p class="lede">Your 3 nearest GPs for NW13 9HL are:</p>

    <ol>

      <li>
        <h2 class="heading-medium"><a href="lakeside-surgery">Lakeside Surgery</a></h2>
        <p>22 Castelnau, London, NW13 9HJ</p>
        <h3>Appointments available</h3>
        <dl>
          <dt>Mon, Wed, Thurs</dt>
          <dd>9am &ndash; 4.50pm</dd>
          <dt>Tues and Fri</dt>
          <dd>7.30am &ndash; 7.20pm</dd>
        </dl>
        <div>
          <span class="score">82%</span>
           of patients recommend this GP
         </div>
         <p>About a 6 minute walk from your location</p>
      </li>

      <li>
        <h2 class="heading-medium"><a href="#">Shrewsbottom Surgery</a></h2>
        <p>15 Pound Lane, London, NW12 9AT</p>
        <h3>Appointments available</h3>
        <dl>
          <dt>Mon&ndash;Fri</dt>
          <dd>9am &ndash; 5pm</dd>
        </dl>
        <div>
          <span class="score">89%</span>
           of patients recommend this GP
         </div>
         <p>About a 20 minute walk from your location</p>
      </li>

      <li>
        <h2 class="heading-medium"><a href="#">Victoria Medical Centre</a></h2>
        <p>48 Buttoy, London, NW13 9HT</p>
        <h3>Appointments available</h3>
        <dl>
          <dt>Mon, Tues, Thur, Fri</dt>
          <dd>9am &ndash; 5pm</dd>
          <dt>Wed</dt>
          <dd>9am &ndash; 9pm</dd>
        </dl>
        <div>
          <span class="score">74%</span>
           of patients recommend this GP
         </div>
         <p>About a 25 minute walk from your location</p>
      </li>

    </ol>

    <p>
      <a href="#">See more GPs near me</a>
    </p>

  </div>
</main>

{% endblock %}
