{% extends 'templates/nhs_layout.html' %}

{% block content %}

<main id="content" role="main">

  <h1 class="heading-xlarge">
    <span class="heading-secondary">Register with a GP</span>
    Suggested GPs
  </h1>

  <div class="text">

    <p class="lede">Your <b>3 nearest GPs</b> for NW13 9HL are:</p>

    <ol>
      <li class="expand-bottom">

        <h2 class="heading-large">
          <a href="lakeside-surgery">Lakeside Surgery</a>
        </h2>

        <p class="lede">
          22 Castelnau<br>
          London<br>
          NW13 9HJ<br>
          <span class="font-xsmall">
            About a 6 minute walk
          </span>
        </p>

        <h3 class="font-small">Appointments available:</h3>
        <table>
          <tr>
            <td>Monday</td>
            <td>9am &ndash; 4.50pm</td>
          </tr>
          <tr>
            <td>Tuesday</td>
            <td>7.30am &ndash; 7.20pm</td>
          </tr>
          <tr>
            <td>Wednesday and Thursday</td>
            <td>9am &ndash; 4.50pm</td>
          </tr>
          <tr>
            <td>Friday</td>
            <td>7.30am &ndash; 7.20pm</td>
          </tr>
        </table>

        <p class="expand-top-half">
          <b>82%</b>
          of patients recommend this GP
        </p>

      </li>
      <li>

        <h2 class="heading-large">
          <a href="#">Shrewsbottom Surgery</a>
        </h2>

        <p class="lede">
          15 Pound Lane<br>
          London<br>
          NW12 9AT<br>
          <span class="font-xsmall">
            About a 20 minute walk
          </span>
        </p>

        <h3 class="font-small">Appointments available:</h3>
        <table>
          <tr>
            <td>Monday to Friday</td>
            <td>9am &ndash; 5pm</td>
          </tr>
        </table>

        <p class="expand-top-half">
          <b>89%</b>
          of patients recommend this GP
        </p>

      </li>
      <li>

        <h2 class="heading-large">
          <a href="#">Victoria Medical Centre</a>
        </h2>

        <p class="lede">
          48 Buttoy<br>
          London<br>
          NW13 9HT<br>
          <span class="font-xsmall">
            About a 25 minute walk
          </span>
        </p>

        <h3 class="font-small">Appointments available:</h3>
        <table>
          <tr>
            <td>Monday and Tuesday</td>
            <td>9am &ndash; 5pm</td>
          <tr>
          </tr>
            <td>Wednesday</td>
            <td>9am &ndash; 9pm</td>
          <tr>
          </tr>
            <td>Thursday and Friday</td>
            <td>9am &ndash; 5pm</td>
          </tr>
        </table>

        <p class="expand-top-half">
          <b>74%</b> of patients recommend this GP
        </p>

      </li>
    </ol>

    <hr style="height: 3px;">

    <p>
      <a href="#"><b>See more GPs near me</b></a>
    </p>
    <p class="font-xsmall">
      or <a href="find-a-gp">search again</a>
    </p>

  </div>
</main>

{% endblock %}
