{% extends 'templates/nhs_transaction_layout.html' %}

{% block afterHeader %}
  {% include "includes/service-headers/register-with-a-gp.html" %}
{% endblock %}

{% block content %}

<main id="content" role="main">
  <!-- TODO: This will be weird if the user came from full results list -->
  <p><a href="suggested-gps" class="back-to-previous">Back to results</a></p>

  <h1 class="heading-xlarge">
    Victoria Medical Centre
  </h1>

  <div class="grid-row">
    <div class="column-third">
      <p>
        <b>48 Buttoy<br>
        London<br>
        NW13 9HT</b>
      </p>
      <p class="font-xsmall">
        1.5 miles away, about a 25 minute walk
      </p>
      <ul>
        <li>7 staff members</li>
        <li>2,000 patients</li>
      </ul>
      <p>
        <a href="victoria-medical-centre/register">Register now</a>
      </p>
    </div>
    <div class="column-third">
      <img src="/public/images/gp-map.png" style="height: 22rem; margin-top: 1rem;">
    </div>
  </div>

  <div class="grid-row expand-top" style="margin-bottom: 1.5rem;">
    <div class="column-third">
      <div class="panel-indent">
        <p>
          <span class="bold-large">74%</span>
          of patients would recommend this surgery
        </p>
      </div>
    </div>
    <div class="column-third">
      <div class="panel-indent">
        <p>
          <span class="bold-large">88%</span>
          of patients feel they are listened to
        </p>
      </div>
    </div>
    <div class="column-third">
      <div class="panel-indent">
        <p>
          <span class="bold-large">13 days</span>
          average wait time for routine appointments
        </p>
      </div>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-third">
      <h2 class="heading-medium">Appointment hours</h3>
      <table>
        <tr>
          <td>Monday</td>
          <td>9am &ndash; 5pm</td>
        <tr>
          <tr>
            <td>Tuesday</td>
            <td>9am &ndash; 5pm</td>
          <tr>
        </tr>
          <td>Wednesday</td>
          <td>9am &ndash; 9pm</td>
        <tr>
        </tr>
          <td>Thursday</td>
          <td>9am &ndash; 5pm</td>
        </tr>
        </tr>
          <td>Friday</td>
          <td>9am &ndash; 5pm</td>
        </tr>
      </table>
    </div>
    <div class="column-third">
      <h2 class="heading-medium">Services offered</h2>
      <ul class="list-bullet">
        <li>Travel vaccinations</li>
        <li>Over 40 health check</li>
        <li>Diabetes clinic</li>
        <li>Childhood vaccinations</li>
        <li>Quit smoking</li>
      </ul>
    </div>
  </div>

  <style>
    .list-test {
      padding-top: 0;
    }
    .list-test li {
      clear: both;
      margin-bottom: 2rem;
    }
    .list-test img {
      float: left;
      height: 5rem;
      margin-right: 1rem;
    }
    .list-test div {
      float: left;
      padding-top: 1rem;
      line-height: 1.4rem;
    }
  </style>

  <h2 class="heading-medium">Staff members</h2>
  <div class="grid-row">
    <div class="column-third">
      <ul class="list-test">
        <li class="clearfix">
          <img src="/public/images/icon-avatar-helen-leaf.png">
          <div>
            Dr Helen Leaf<br>
            <span class="font-xsmall">GP, female</span>
          </div>
        </li>
        <li class="clearfix">
          <img src="/public/images/icon-avatar-mike-johnson.png">
          <div>
            Dr Mike Johnson<br>
            <span class="font-xsmall">GP, male</span>
          </div>
        </li>
        <li class="clearfix">
          <img src="/public/images/icon-avatar.svg">
          <div>
            Dr Emma Stace<br>
            <span class="font-xsmall">GP, female</span>
          </div>
        </li>
        <li class="clearfix">
          <img src="/public/images/icon-avatar-malcolm-branch.png">
          <div>
            Dr Malcolm Branch<br>
            <span class="font-xsmall">GP, male</span>
          </div>
        </li>
      </ul>
    </div>
    <div class="column-third">
      <ul class="list-test">
        <li class="clearfix">
          <img src="/public/images/icon-avatar.svg">
          <div>
            Sasheika Wrench<br>
            <span class="font-xsmall">Nurse practitioner, female</span>
          </div>
        </li>
        <li class="clearfix">
          <img src="/public/images/icon-avatar-jonathon-hope.png">
          <div>
            Jonathan Hope<br>
            <span class="font-xsmall">Nurse practitioner, male</span>
          </div>
        </li>
      </ul>
    </div>
    <div class="column-third">
      <ul class="list-test">
        <li class="clearfix">
          <img src="/public/images/icon-avatar-alison-wylde.png">
          <div>
            Alison Wylde<br>
            <span class="font-xsmall">Nurse, female</span>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div style="padding-top: 1rem;">
    <a class="button" href="victoria-medical-centre/register">Register with Victoria Medical Centre</a>
  </div>

</main>

{% endblock %}
