{% extends 'templates/nhs_transaction_layout.html' %}
{% import 'includes/form_macros.html' as form_macros %}

{% block afterHeader %}
  {% include "includes/service-headers/register-with-a-gp.html" %}
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="text">
    <h1 class="heading-xlarge">
      Find your existing GP medical records
    </h1>
  </div>

  <form action="" method="get" class="form">

    <fieldset>
      <legend class="form-label-bold">Are you currently registered with a GP practice?</legend>
      <div class="inline-form-groups">
        <div class="form-group">
          <input type="radio" id="current-gp-yes" name="current-gp">
          <label class="form-control-radio js-toggle" for="current-gp-yes" data-show="#current-gp" data-hide="#armed-forces-group">
            Yes
          </label>
        </div>
        <div class="form-group">
          <input type="radio" id="current-gp-no" name="current-gp">
          <label class="form-control-radio js-toggle" for="current-gp-no" data-hide="#current-gp" data-show="#armed-forces-group">
            No
          </label>
        </div>
      </div>
    </fieldset>

    <div class="js-hidden panel-indent" id="current-gp">
      {% include "includes/forms/gp-practice.html" with
        {
          label: "Your current GP practice or doctor"
        }
      %}
      {{
        form_macros.address_fields({
          id: 'address-1',
          label: 'Your address',
          hint: 'When you were registered with this GP practice'
        })
      }}
    </div>

    <div class="js-hidden" id="armed-forces-group">
      <fieldset>
        <legend class="form-label-bold">Have you recently left the UK armed forces?</legend>
        <div class="inline-form-groups">
          <div class="form-group">
            <input type="radio" id="armed-forces-yes" name="armed-forces">
            <label class="form-control-radio js-toggle" for="armed-forces-yes" data-show="#armed-forces" data-hide="#abroad-group">
              Yes
            </label>
          </div>
          <div class="form-group">
            <input type="radio" id="armed-forces-no" name="armed-forces">
            <label class="form-control-radio js-toggle" for="armed-forces-no" data-show="#abroad-group" data-hide="#armed-forces">
              No
            </label>
          </div>
        </div>
      </fieldset>

      <div class="js-hidden panel-indent" id="armed-forces">
        <div class="form-group">
          <label class="form-label-bold" for="service-number">
            Your service or personnel number
          </label>
          <!-- 8 digits -->
          <input type="text" id="service-number" class="form-control form-control-1-4" value="">
        </div>
        {{
          form_macros.date_field({
            label: 'Enlistment date',
            hint_date: '31 7 1994',
            id_prefix: 'enlistment-'
          })
        }}
        {{
          form_macros.address_fields({
            id: 'address-2',
            label: 'Your home address when you enlisted'
          })
        }}
      </div>
    </div>

    <div class="js-hidden" id="abroad-group">
      <fieldset>
        <legend class="form-label-bold">Are you moving back to the UK from abroad?</legend>
        <div class="inline-form-groups">
          <div class="form-group">
            <input type="radio" id="abroad-yes" name="abroad">
            <label class="form-control-radio js-toggle" for="abroad-yes" data-show="#abroad">
              Yes
            </label>
          </div>
          <div class="form-group">
            <input type="radio" id="abroad-no" name="abroad">
            <label class="form-control-radio js-toggle" for="abroad-no" data-hide="#abroad">
              No
            </label>
          </div>
        </div>
      </fieldset>

      <div class="js-hidden panel-indent" id="abroad">
        {{
          form_macros.date_field({
            label: 'The date you left the UK',
            hint_date: '31 7 1994',
            id_prefix: 'left-uk-'
          })
        }}
        {{
          form_macros.address_fields({
            id: 'address-3',
            label: 'Your address when you first registered with A GP'
          })
        }}
      </div>
    </div>

    <div class="form-group expand-top">
      <a href="application-complete" class="button">Next</a>
    </div>

  </form>
</main>

{% endblock %}
