{% extends 'templates/nhs_template.html' %}

{% block head %}
  {% include "includes/nhs.uk/head.html" %}
{% endblock %}

{% block propositionHeader %}
  {% include "includes/nhs.uk/propositional_navigation.html" %}
{% endblock %}

{% block headerClass %}with-proposition{% endblock %}

{% block content %}
<main id="content" role="main">


	<p class="form-navigation">
		<a class="back-to-previous" href="{% block prevURL %}{% endblock %}">Back <span class="visuallyhidden"> to the previous question.</span></a>
		<span class="question-number">Question {% block questionNumber %}{% endblock %}  of 4</span>
	</p>

	<h1 class="heading-large">{% block pageTitle %}{% endblock %}</h1>

		<form action="{% block nextURL %}{% endblock %}" method="get" class="form">

		{% block questionContent %}
		{% endblock %}		

	    <div class="form-group">
	      <input type="submit" class="button" value="Continue">
	    </div>

	</form>

</main>
{% endblock %}

{% block bodyEnd %}
  {% include "includes/nhs.uk/scripts.html" %}
{% endblock %}