<div class="item {% block id %}{% endblock %}" id="{% block id %}{% endblock %}">
  <div class="shadow"></div>
  <div class="item-content">
    <div class="item-header">
      <a href="#{% block id %}{% endblock %}" class="item-collapse-link">
	{% block heading %}{% endblock %}
      </a>
    </div>

    <div class="item-leadin">
      {% block leadin %}{% endblock %}
    </div>

    <div class="item-body item-body-collapsed">
      {% block body %}{% endblock %}

      <div class="item-collapse">
	<a href="#" class="item-collapse-link" tabindex="0">Show less</a>
      </div>
    </div>
  </div>
</div>
