{% extends 'templates/nhs_content_layout.html' %}
{% import 'includes/ui_element_macros.html' as ui_element_macros %}

{% block content %}

<main id="content" role="main">
  <div class="text">

    <h1 class="heading-xlarge">Get physiotherapy</h1>

    <p>
      You can book an assessment with the following physiotherapy practices:
    </p>

    <div style="border-top: 1px solid #b9d2dc; padding-bottom: 1rem;">
      <h2 class="heading-medium">Leeds Community Healthcare NHS Trust</h2>
      <p>Appointments are usually available within 2 weeks</p>
      <p class="font-xsmall">
        Muscoloskeletal and Rehabilitation Service<br>
        Ground Floor,<br>
        St Marys Hospital,<br>
        Greenhill Road,<br>
        Leeds<br>
        LS12 3QE
      </p>
      <p>
        Telephone: 0113 8431250 or 0113 8431909<br>
        Email: <a href="mailto:leedsmsk@nhs.net">leedsmsk@nhs.net</a>
      </p>
    </div>

    <div style="border-top: 1px solid #b9d2dc; padding-bottom: 1rem;">
      <h2 class="heading-medium">Chapel Allerton Hospital</h2>
      <p>Appointments are usually available within 2 weeks</p>
      <p class="font-xsmall">
        Chapeltown Road,<br>
        Leeds,<br>
        LS7 4SA
      </p>
      <p>
        Telephone: 0113 262 3404
      </p>
    </div>

    <div style="border-top: 1px solid #b9d2dc; padding-bottom: 1rem;">
      <h2 class="heading-large">Get private physio</h2>

      <p>You can get physio privately but you would have to pay for it
      yourself. Prices depend on the kind of therapy you need. There may be no
      waiting times.</p>

      <p><a href="http://www.csp.org.uk/your-health/find-physio/physio2u">Find a registered physiotherapists in your area</a></p>
    </div>

  </div>

</main>

{% endblock %}
