{% extends 'templates/nhs_content_layout.html' %}
{% import 'includes/ui_element_macros.html' as ui_element_macros %}

{% block content %}

<main id="content" role="main">
  <div class="text markdown-content">

{% markdown %}
#Shoulder pain

You can have shoulder pain because of the following: 

- bad posture
- frozen shoulder - stiffness, sometimes no movement at all
- the muscles and tendons around your shoulder aren’t working properly (rotator cuff disorder)
-  shoulder is unstable and moves more than it should (hypermobility)
- the joint at the top of the shoulder isn’t working properly (acromioclavicular joint disorder)
- osteoporosis - XXXX
- broken or fractured upper arm bone or collarbone
{% endmarkdown %}

<div class="callout-box">
  <p>If you’ve injured your shoulder you should go and see your GP.</p>
</div>

{% markdown %}
##Treatment you can get without seeing your GP
You can get physiotherapy on the NHS to relieve the pain and stiffness. Physion will also help to get movement back into your shoulder. 

You don’t need a referral from your GP to book an appointment. 
{% endmarkdown %}

<p>
  <a href="find-practice" class="button button-secondary-cta">Book a physio appointment</a>
</p>

{% markdown %}
##Ease the pain at home
You can use painkillers like ibuprofen or ice packs for a short while. This will reduce the swelling and help with the pain. 

Try to keep the shoulder moving but avoid doing anything that makes it hurt. 


##See your GP for severe shoulder pain

See your GP if:

- you injured your shoulder, eg when falling.
- the pain is severe
- in milder cases, if there is no improvement after a couple of weeks 

Your GP will recommend the best treatment for you. This can include:

- physiotherapy (see above)
- medication
- injections to relieve severe pain
- referral to hospital for treatments like specialist physiotherapy, or surgery

Shoulder pain can be long term. Even after you get treatment symptoms might continue.
{% endmarkdown %}

    {% include "includes/nhs.uk/page_meta.html" %}

  </div>

</main>

{% endblock %}
