{% extends 'templates/nhs_question_template.html' %}
{% import 'includes/form_macros.html' as form_macros %}

{% block pageTitle %}
  What is your gender?
{% endblock %}

{% block questionNumber %}4{% endblock %}
{% block prevURL %}internet-adjustments{% endblock %}
{% block nextURL %}country-live{% endblock %}

{% block questionContent %}

	{{ form_macros.radio_buttons({

		id:	'gender',

		options: {
			1:	'female',
			2:	'male',
			3:	'unspecified',
			4:	'prefer not to say'
		}

	})}}

{% endblock %}

