{% extends 'templates/question_template.html' %}

{% block pageTitle %}
  What is your gender?
{% endblock %}


{% block questionNumber %}6{% endblock %}
{% block prevURL %}internet-adjustments{% endblock %}
{% block nextURL %}country-live{% endblock %}

{% block questionContent %}

	<div class="form-group">
		<p class="form-hint">Select one:</p>
	    <div class="form-group">
	    	<input type="radio" id="gender-female" name="gender"> 
	      <label class="form-label form-control-radio" for="gender-female">
	      	female
	      </label>
	      <input type="radio" id="gender-male" name="gender"> 
	      <label class="form-label form-control-radio" for="gender-male">
	      	male
	      </label>
	      <input type="radio" id="gender-unspecified" name="gender"> 
	      <label class="form-label form-control-radio" for="gender-unspecified">
	      	unspecified
	      </label>
	      <input type="radio" id="gender-prefer-not-to-say" name="gender"> 
	      <label class="form-label form-control-radio" for="gender-prefer-not-to-say">
	      	prefer not to say
	      </label>
	    </div>
	</div>

{% endblock %}

