{% extends 'templates/nhs_transaction_layout.html' %}
{% import 'includes/form_macros.html' as form_macros %}

{% block content %}
<main id="content" role="main">

  <h1 class="heading-xlarge">Example form questions</h1>

    <form action="/" method="post" class="form">


      <div class="form-item-wrapper">
        <fieldset>
          <legend class="form-label-bold">Overall group title</legend>
          <div class="form-group">
            <label class="form-label" for="first-label">
              First label
            </label>
            <input type="text" id="first-label" class="form-control">
          </div>
          <div class="form-group">
            <label class="form-label" for="last-label">
              Second label
            </label>
            <p class="form-hint">Second label hint</p>
            <input type="text" id="last-label" class="form-control">
          </div>
        </fieldset>
      </div>

      <div class="form-item-wrapper">
        <div class="form-group">
          <label class="form-label-bold" for="textarea">
            Textarea
          </label>
          <textarea class="form-control" rows="6"></textarea>
        </div>
      </div>

      {{
        form_macros.address_fields({
          id: 'address',
          label: 'Address',
          hint: 'As you’d write it on an envelope'
        })
      }}

      {{
        form_macros.date_field({
          label: 'Date of birth',
          hint_date: '31 7 1961',
          id_prefix: 'dob-'
        })
      }}

      <div class="form-item-wrapper">
        <fieldset>
          <legend class="form-label-bold">A binary question?</legend>
          <div class="inline-form-groups">
            <div class="form-group">
              <input type="radio" id="binary-yes" name="binary">
              <label class="form-control-radio" for="binary-yes">
                Yes
              </label>
            </div>
            <div class="form-group">
              <input type="radio" id="binary-no" name="binary">
              <label class="form-control-radio" for="binary-no">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="form-item-wrapper">
        <div class="form-group">
          <input type="radio" id="radio-minor" name="minor">
          <label class="form-control-radio minor" for="radio-minor">
            “Minor” radio button
          </label>
        </div>
      </div>

      <div class="form-item-wrapper">
        <div class="form-group">
          <input type="checkbox" id="checkbox-minor" name="minor">
          <label class="form-control-checkbox minor" for="checkbox-minor">
            “Minor” checkbox
          </label>
        </div>
      </div>

      {% include "includes/forms/preferred-contact-method.html" %}

      {% include "includes/forms/create-a-password.html" %}

      {% include "includes/forms/gp-practice.html" %}

      {{
        form_macros.button({
          href: '#',
          label: 'Button'
        })
      }}

      {{
        form_macros.button({
          classes: 'button-get-started',
          href: '#',
          label: 'Button (start)'
        })
      }}

      {{
        form_macros.button({
          classes: 'button-cancel',
          href: '#',
          label: 'Button (cancel)'
        })
      }}

      {{
        form_macros.button({
          classes: 'button-secondary',
          href: '#',
          label: 'Button (secondary)'
        })
      }}

      {{
        form_macros.button({
          classes: 'button-secondary-cta',
          href: '#',
          label: 'Button (secondary cta)'
        })
      }}

  </form>



</main>
{% endblock %}
