{% extends 'templates/nhs_layout.html' %}

{% block afterHeader %}
  {% include "includes/service-headers/cancel-or-change-an-appointment.html" %}
{% endblock %}

{% block content %}

<main id="content" role="main">

	<h1 class="heading-xlarge">Appointment cancelled</h1>

    <div class="text">
      <p>
        Thank you for cancelling your appointment.
      </p>

      <p>
        Each appointment not cancelled and then missed costs the NHS £195.
      </p>

    </div>
</main>

{% endblock %}
