{% extends 'templates/nhs_layout.html' %}

{% block content %}
<main id="content" role="main">

  <h1 class="heading-xlarge">Appointment confirmed</h1>

  <div>
    <img>
    <h3>Monday 28th January 2016 at 11:00</h3>
    <div>Dr. Malcolm Branch</div>
    <div>Face to face</div>
    <p>
    Lakeside Surgery<br>
    22 Castelnau<br>
    London<br>
    NW13 9HJ
    <a href="#">map</a>
    </p>

  </div>

  <p>
    Please arrive on time.
  </p>

  <p>
  We will send you SMS reminders of your appointment. <a href="#">change</a>
  </p>

</main>
{% endblock %}
