{% extends 'templates/nhs_transaction_layout.html' %}

{% block afterHeader %}
  {% include "includes/service-headers/cancel-or-change-an-appointment.html" %}
{% endblock %}

{% block content %}

<main id="content" role="main">

	<h1 class="heading-xlarge">Appointment cancelled</h1>

    <div class="text">
      <p class="lede">
        Thank you for cancelling your appointment.
      </p>

      <p>
        Each missed appointment costs the NHS £195. Thank you for helping to reduce these unneccessary costs.
      </p>
      <p>
        <a href="/homepage" style="font-size: 16px;">Back to NHS.UK homepage</a>
      </p>

    </div>
</main>

{% endblock %}
