{% extends 'templates/nhs_layout.html' %}
{% import 'includes/form_macros.html' as form_macros %}

{% block content %}
<main id="content" role="main">

  <a href="existing-appointment-details" class="back-to-previous">Back</a>

  <h1 class="heading-xlarge">
    <span class="heading-secondary">Cancel an appointment</span>
    Confirm cancellation
  </h1>

  <div>
    <img>
    <h3><span>Tomorrow</span> at 16:30</h3>
    <div>Dr. Helen Leaf</div>
    <div>Face to face</div>
    <p>
    Lakeside Surgery<br>
    22 Castelnau<br>
    London<br>
    NW13 9HJ
    <a href="#">map</a>
    </p>
  </div>

  <div class="form-group">
    <a class="button button-warning" href="appointment-cancelled">
      Cancel this appointment
    </a>
  </div>

</main>
{% endblock %}
