{% extends 'templates/nhs_layout.html' %}
{% import 'includes/ui_element_macros.html' as ui_element_macros %}

{% block content %}
<main id="content" role="main">

  <a href="existing-appointment-details" class="back-to-previous">Back</a>

  <h1 class="heading-xlarge">
    <span class="heading-secondary">Cancel an appointment</span>
    Confirm cancellation
  </h1>

  {{
    ui_element_macros.appointment_confirmation({
      appointment_date: 'Friday 29th January 2016',
      appointment_time: '16:30',
      avatar_img_path: '/public/images/icon-avatar-helen-leaf.png',
      name: 'Dr Helen Leaf',
      appointment_type: 'Face to face'
    })
  }}

  <p>
    Lakeside Surgery<br>
    22 Castelnau<br>
    London<br>
    NW13 9HJ
  </p>

  <div class="form-group">
    <a class="button button-warning" href="appointment-cancelled">
      Cancel this appointment
    </a>
  </div>

</main>
{% endblock %}
