{% extends 'templates/nhs_transaction_layout.html' %}
{% import 'includes/form_macros.html' as form_macros %}
{% import 'includes/ui_element_macros.html' as ui_element_macros %}

{% block afterHeader %}
  {% include "includes/service-headers/cancel-or-change-an-appointment.html" %}
{% endblock %}

{% block content %}
<main id="content" role="main">

  <a href="existing-appointment-details" class="back-to-previous">Back</a>

  <h1 class="heading-xlarge">
    Choose an appointment
  </h1>

  <div class="grid-row">
    <div class="column-third column-switch-right">
      <p>
        Lakeside Surgery<br>
        22 Castelnau<br>
        London<br>
        NW13 9HJ
      </p>
    </div>
    <div class="column-two-thirds">

    <h2 class="appointment-section-heading">First available appointment:</h2>

    {{
      ui_element_macros.appointment_option({
        link_url: 'change-appointment',
        appointment_date: 'Monday 1st February 2016',
        appointment_time: '11:00',
        appointment_days_away: '10',
        avatar_img_path: '/public/images/icon-avatar-malcolm-branch.png',
        name: 'Dr Malcolm Branch',
        position: 'GP',
        gender: 'male',
        appointment_length: '10',
        appointment_type: 'face to face',
        appointment_type_class: 'face-to-face'
      })
    }}

    <h3 class="appointment-section-heading">First available evening appointment:</h3>

    {{
      ui_element_macros.appointment_option({
        link_url: 'change-appointment',
        appointment_date: 'Thursday 4th February 2016',
        appointment_time: '17:00',
        appointment_days_away: '10',
        avatar_img_path: '/public/images/icon-avatar-helen-leaf.png',
        name: 'Dr Helen Leaf',
        position: 'GP',
        gender: 'female',
        appointment_length: '10',
        appointment_type: 'face to face',
        appointment_type_class: 'face-to-face'
      })
    }}

    <h3 class="appointment-section-heading more">More appointment options</h3>

    <ul>
      <li><a href="#">I'd like an early morning appointment</a></li>
      <li><a href="#">I'd like to see a particular person</a></li>
    </ul>

    <div class="appointment-section-heading all">
      <a href="#">See all appointments</a>
    </div>

</main>
{% endblock %}
