{% extends 'templates/nhs_layout.html' %}
{% import 'includes/ui_element_macros.html' as ui_element_macros %}

{% block content %}
<main id="content" role="main">

  <a href="change-to-next-available-appointment" class="back-to-previous">Back</a>

  <h1 class="heading-xlarge">
    <span class="heading-secondary">Change an appointment</span>
    Confirm change
  </h1>

  <h2 class="heading-medium">New appointment</h2>
  {{
    ui_element_macros.appointment_summary({
      appointment_date: 'Monday 1st February 2016',
      appointment_time: '11:00',
      avatar_img_path: '/public/images/icon-avatar-malcolm-branch.png',
      name: 'Dr Malcolm Branch',
      appointment_type: 'Face to face'
    })
  }}

  <h2 class="heading-medium">Old appointment</h2>
  {{
    ui_element_macros.appointment_summary({
      appointment_date: 'Friday 29th January 2016',
      appointment_time: '16:30',
      avatar_img_path: '/public/images/icon-avatar-helen-leaf.png',
      name: 'Dr Helen Leaf',
      appointment_type: 'Face to face',
      modifier_css_classes: 'appointment-summary--secondary'
    })
  }}

  <div class="form-group">
    <a class="button" href="appointment-confirmed">Confirm change</a>
  </div>

</main>
{% endblock %}
