{% extends 'templates/nhs_transaction_layout.html' %}
{% import 'includes/form_macros.html' as form_macros %}
{% import 'includes/ui_element_macros.html' as ui_element_macros %}

{% block afterHeader %}
  {% include "includes/service-headers/cancel-or-change-an-appointment.html" %}
{% endblock %}

{% block content %}
<main id="content" role="main">

  <a href="find-existing-appointment" class="back-to-previous">Back</a>

  <h1 class="heading-xlarge">
    Modify current appointment
  </h1>

  {{
    ui_element_macros.appointment_summary({
      appointment_date: 'Wednesday 3rd February 2016',
      appointment_time: '08:30',
      appointment_days_away: '10',
      avatar_img_path: '/public/images/icon-avatar-helen-leaf.png',
      name: 'Dr Helen Leaf',
      position: 'GP',
      gender: 'female',
      appointment_length: '10',
      appointment_type: 'face to face',
      appointment_type_class: 'face-to-face'
    })
  }}

  <form action="path-handler" method="get" class="form">
    <fieldset>
      <legend class="form-label-bold">Would you like to:</legend>

      {{
        form_macros.radio_button_single({
          id: 'appointment-change',
          name: 'appointment',
          value: 'change',
          label: 'Change this appointment'
        })
      }}

      {{
        form_macros.radio_button_single({
          id: 'appointment-cancel',
          name: 'appointment',
          value: 'cancel',
          label: 'Cancel this appointment'
        })
      }}

    </fieldset>

    {{
      form_macros.button({
        label: 'Next'
      })
    }}

  </form>

</main>
{% endblock %}
