{% extends 'templates/nhs_transaction_layout.html' %}
{% import 'includes/form_macros.html' as form_macros %}
{% import 'includes/ui_element_macros.html' as ui_element_macros %}

{% block afterHeader %}
  {% include "includes/service-headers/cancel-or-change-an-appointment.html" %}
{% endblock %}

{% block content %}
<main id="content" role="main">

  <a href="find-existing-appointment" class="back-to-previous">Back</a>

  <h1 class="heading-xlarge">
    Appointment details
  </h1>

  {{
    ui_element_macros.appointment_confirmation({
      appointment_date: 'Friday 29th January 2016',
      appointment_time: '16:30',
      avatar_img_path: '/public/images/icon-avatar-helen-leaf.png',
      name: 'Dr Helen Leaf',
      appointment_type: 'Face to face'
    })
  }}

  <p>
    Lakeside Surgery<br>
    22 Castelnau<br>
    London<br>
    NW13 9HJ
  </p>

  <form action="path-handler" method="get" class="form">
    <fieldset>
      <legend class="heading-medium">Would you like to:</legend>
      <div class="form-group">
        <input type="radio" id="appointment-change" name="appointment" value="change">
        <label class="form-label form-control-radio" for="appointment-change">
          Change this appointment
        </label>
      </div>
      <div class="form-group">
        <input type="radio" id="appointment-cancel" name="appointment" value="cancel">
        <label class="form-label form-control-radio" for="appointment-cancel">
          Cancel this appointment
        </label>
      </div>
    </fieldset>
    <div class="form-group">
      <button type="submit" class="button">Next</button>
    </div>
  </form>

</main>
{% endblock %}
