{% extends 'templates/nhs_transaction_layout.html' %}
{% import 'includes/form_macros.html' as form_macros %}

{% block afterHeader %}
  {% include "includes/service-headers/cancel-or-change-an-appointment.html" %}
{% endblock %}

{% block content %}
<main id="content" role="main">

  <h1 class="heading-xlarge">
    Enter your details
  </h1>

  <form action="/" method="post" class="form">

    {{
      form_macros.text_field({
        id: 'name',
        label: 'Name'
      })
    }}

    {{
      form_macros.date_field({
        label: 'Date of birth',
        hint_date: '31 7 1961',
        id_prefix: 'dob-'
      })
    }}

    {% include "includes/forms/gp-practice.html" %}

    {{
      form_macros.date_field({
        label: 'Date of appointment',
        hint_date: '31 7 2015',
        id_prefix: 'appointment-'
      })
    }}

    {{
      form_macros.button({
        href: 'existing-appointment-details',
        label: 'Find existing appointment'
      })
    }}

  </form>

</main>
{% endblock %}
