{% extends 'templates/nhs_transaction_layout.html' %}

{% block content %}

<main id="content" role="main">
  <div class="text">
		<h1 class="heading-xlarge">Cancel or change an appointment</h1>
    <p class="lede">
      Use this service to change or cancel an appointment with your
      GP practice.
    </p>

    <p>
      To use this service you’ll need to know:
    </p>

    <ul class="list-bullet">
      <li>
        The name of your GP practice
      </li>

      <li>
        The date of your existing appointment
      </li>
    </ul>

    <p>
      <a class="button button-get-started" href="find-existing-appointment">Start</a>
    </p>
  </div>
</main>

{% endblock %}
