{% extends 'templates/nhs_content_layout.html' %}
{% import 'includes/ui_element_macros.html' as ui_element_macros %}

{% block pageTitle %}
  Getting therapy
{% endblock %}

{% block content %}

{{ ui_element_macros.breadcrumbs({
  items: {
    1: {
      text: "Depression and anxiety",
      href: "/depression-and-anxiety"
    },
    2: {
      text: "Getting therapy"
    }
  }
})}}

<main id="content" role="main">

  {% include "depression-and-anxiety/includes/nav-contents.html" %}

  <div class="text markdown-content">

{% markdown %}
#Getting therapy

Talking to a therapist can help with:

- understanding why you feel the way you feel
- dealing with negative thoughts and feelings
- finding ways of coping every day

Usually treatment for depression and anxiety can include: talking to a therapist, medication,and self-help such as exercise.

##How to get therapy on the NHS

1. [See your GP](/book-an-appointment/start) about your the way you feel.
2. If your GP thinks therapy is the best treatment for you they’ll write you a prescription and give you the number a service that provides therapy in your area.
3. You phone the local service, they’ll ask you some questions and refer you to one of their therapists.

{% endmarkdown %}

<div class="callout-box">
  <p>Some GPs put your directly in touch with a therapist or have a therapist in their practice.</p>
</div>

{% markdown %}
##Waiting times can be long
Waiting times can range from a few weeks to up to one year.

Ask your GP about waiting times when he refers you. If they’re too long you might want to consider paying for therapy yourself (see below).

##Therapy is around 6 to 8 sessions
The NHS usually covers 6 to 8 sessions. A session is around one hour.

After that you’ll have to review your situation with your GP. They might prescribe further sessions or recommend something else. Sometimes simple life changes, like exercising regularly, might help.

##Changing therapists
It’s important that you feel comfortable with your therapist and can be open with them. If this isn’t the case, the sessions won’t help you.

There are no rules about how to find this out. You have to trust your instinct.

If you’re not happy with your NHS prescribed therapist you should do the following:

1. [Book a GP appointment](/book-an-appointment/start)
2. Take some time before the appointment to think why you feel the therapy isn’t working.
3. Discuss the problem with your GP.
4. If you both agree that you should continue with therapy, your GP will write you a referral for a new therapist.

##Paying for therapy yourself
You can also go directly to a therapist without using the NHS. You don’t need a referral from your GP and you can usually start right away.

The price per therapy session varies between £10 and £60, depending on where you live. Bigger cities, like London tend to be more expensive. Some therapists adjust their prices according to your income.

The charity [Mind](http://www.mind.org.uk/) offers counselling free of charge.

##Finding a therapist yourself
To search for an approved therapist use:

- [British Association for Counselling and Psychotherapy](http://www.bacp.co.uk/seeking_therapist/right_therapist.php)
- [UK Council for Psychotherapy](http://members.psychotherapy.org.uk/findATherapist)
- [British Association for for Behavioral and Cognitive Psychotherapies](http://www.cbtregisteruk.com/Default.aspx)
- [Counselling Directory](http://www.counselling-directory.org.uk/)

##If you don’t want to talk to your GP
If you don’t feel comfortable talking to your GP about the way you feel, you can contact one of the charities that help people with depression and anxiety.

They can help you with things like talking to other people about your problem or finding a therapist but they won’t be able to prescribe you free therapy or counselling.

- [Depression Alliance](http://www.depressionalliance.org/)
- [Depression UK](http://www.depressionuk.org/index.shtml)
- [Mind](http://www.mind.org.uk/information-support/types-of-mental-health-problems/depression/)
- [Rethink mental illness](http://www.rethink.org/diagnosis-treatment/conditions/depression)
- [Big White Wall](https://www.bigwhitewall.com/landing-pages/landingv3.aspx)
{% endmarkdown %}

    {{
      ui_element_macros.simple_pagination({
        previous: {
          url: "/depression-and-anxiety/seeking-help",
          title: "Seeking help"
        },
        next: {
          url: "/depression-and-anxiety/medication",
          title: "Medication"
        }
      })
    }}


  </div>

</main>

{% endblock %}
