{% extends 'templates/nhs_content_layout.html' %}
{% import 'includes/ui_element_macros.html' as ui_element_macros %}

{% block pageTitle %}
  How to tell if you have depression or anxiety
{% endblock %}

{% block content %}

{{ ui_element_macros.breadcrumbs({
  items: {
    1: {
      text: "Depression and anxiety",
      href: "/depression-and-anxiety"
    },
    2: {
      text: "How to tell if you have depression or anxiety"
    }
  }
})}}

<main id="content" role="main">

  {% include "depression-and-anxiety/includes/nav-contents.html" %}

  <div class="text markdown-content">

{% markdown %}
#How to tell if you have depression or anxiety

Everyone has periods of low mood. Sometimes this can be because of a particular event, eg a break up.

Usually low mood gets better on its own after a short time. If it doesn’t, this could be a sign of depression or anxiety.

##Symptoms of depression
When you’re depressed you often have the symptoms for weeks. They can be so bad that they start to affect your daily life, eg your work, your family and social life.

The symptoms of depression can be complex but they often include the following:

- feeling low and sad all the time
- feeling hopeless and helpless
- feeling anxious and worried
- low self-esteem
- feeling tearful
- being easily irritated by others

It can affect your body, too:

- problems getting to sleep or sleeping too much
- not feeling hungry or eating too much
- unexplained physical symptoms, eg aches and pains
- lack of energy
- no interest in sex
- headaches that keep coming back or don’t go away

##Symptoms of anxiety
If you feel anxious all the time and the feeling isn’t about one specific thing you might have ‘generalised anxiety disorder’.

Symptoms of anxiety include:

- feeling restless
- worrying that things go wrong
- being on edge a lot
- not concentrating
- feeling irritated by things
- avoiding going out or seeing people

Your body can also change and you might notice these symptoms:

- feeling dizzy
- problems sleeping or constant tiredness
- stronger and irregular heartbeat
- trembling or shaking
- headache
- stomach ache or feeling sick

##What to do next
If you think you have any of the symptoms for depression and anxiety, you should [seek help](/depression-and-anxiety/seeking-help) as soon as possible.

{% endmarkdown %}

    {{
      ui_element_macros.simple_pagination({
        next: {
          url: "/depression-and-anxiety/seeking-help",
          title: "Seeking help"
        }
      })
    }}


  </div>

</main>

{% endblock %}
