{% extends 'templates/nhs_content_layout.html' %}
{% import 'includes/ui_element_macros.html' as ui_element_macros %}

{% block pageTitle %}
  Medication
{% endblock %}

{% block content %}

{{ ui_element_macros.breadcrumbs({
  items: {
    1: {
      text: "Depression and anxiety",
      href: "/depression-and-anxiety"
    },
    2: {
      text: "Medication"
    }
  }
})}}

<main id="content" role="main">

  {% include "depression-and-anxiety/includes/nav-contents.html" %}

  <div class="text markdown-content">

{% markdown %}
#Medication for depression or anxiety#

You may have been prescribed antidepressants if you have depression or anxiety.

Antidepressants affect how certain chemicals in your brain work, which can improve mood and emotion.

They are usually prescribed for moderate to severe depression and anxiety.

If you have low mood or depression, antidepressants won’t always work. Talking therapies like cognitive behavioral therapy (CBT) are usually recommended, although you’ll have to wait to get it.

##How antidepressants help##

Antidepressants can help you feel better and more able to look after yourself in other ways, such as:

- talking to other people
- being physically active
- taking part in therapy

This is why they’re often prescribed alongside [therapy](/getting-therapy), or while you’re waiting for therapy.

Read more about other ways of [managing your depression](/managing-depression-and-anxiety)

##Antidepressants should start working soon after taking them##
{% endmarkdown %}

<div class="callout-box">
  <p>
    It usually takes around 2 weeks to notice the effects of antidepressants
  </p>
</div>

{% markdown %}
Your GP will prescribe the lowest dose necessary to help your depression or anxiety.

Speak to your GP if you don’t feel a difference after 4 weeks. Your GP may discuss
increasing the dose with you, changing to  a different type of antidepressant, or another type
of treatment. You should not change the dose yourself without talking to your GP about it.

Antidepressants are usually prescribed for 6 months to prevent depression of an returning when you stop taking them.  A longer course may be recommended if you’ve had depression before.

##Side effects##

There’s stigma around taking medication for depression. However, recently-developed antidepressants don’t have the severe side effects they had years ago. They won’t alter your mood or make you feel high. They aren’t tranquilisers and don’t cause addiction.

Common side effects of antidepressants are mild in most cases and include:

- feeling agitated or anxious
- dizziness
- feeling sick
- diarrhoea or constipation
- problems sleeping
- problems with sex
- dry mouth

The charity MIND has a full list of the different types of [antidepressants and their side effects](http://www.mind.org.uk/information-support/drugs-and-treatments/antidepressants-a-z.aspx).

Some side effects are common when you first start taking antidepressants. They should improve as your body gets used to the medication. This can take a few weeks.  Try to keep taking medication until the side effects improve.

Speak to your GP if the side effects don’t improve. You can discuss whether another type of antidepressant might be better.

Some studies have shown a small increased risk of suicide with some antidepressants. This is most common in teenagers. Speak to your GP immediately if you have severe side effects or experience suicidal thoughts.

#Renewing your prescription for antidepressants#

It’s likely you will need an appointment with your GP for repeat prescriptions initially. This is so you can discuss how you’re feeling, how medication is working and any side effects.

You should then be able to collect repeat prescriptions in the usual way.
{% endmarkdown %}

<p>
  <a href="javascript:void(0);" class="button button-secondary-cta">
    Renew your prescriptions
  </a>
</p>

{% markdown %}
##How you feel when you stop taking antidepressants##

It’s difficult to know how you might feel when you stop taking antidepressants.

Antidepressants don’t cure depression or anxiety, they ease the symptoms.

For some people, when they stop taking antidepressants their mood gradually worsens and they need to take medication for longer. For others, the feelings of depression or anxiety will have passed and they continue to feel better.

How you feel will depend on things like what’s caused your depression or anxiety and whether other treatments have helped.

##How to stop taking antidepressants##

You shouldn’t suddenly stop taking antidepressants. They can cause withdrawal symptoms, including:

- anxiety
- dizziness
- vivid dreams

In most people these are mild and pass within a few days. In some people the depression can come back.

You should gradually stop taking antidepressants to avoid withdrawal symptoms. This might mean:

- reducing the dose
- taking them every other day (if you’re already on a low dose).
{% endmarkdown %}

<div class="callout-box">
  <p>
    Speak to your doctor if you plan to stop taking your antidepressants. They can help you decide the best time to stop and how quickly to reduce your dose.
  </p>
</div>

{% markdown %}
#Alternative medicines

Some people prefer to take natural medicines. However, there’s little evidence for many of the herbal remedies suggested on the internet for depression.

There is some evidence that a herbal medicine called St John’s wort can help depression but it can cause serious problems if taken with other medications, including:

- antidepressants
- the contraceptive pill
- anticoagulants

You should speak to your GP if you plan to take any herbal medicine and you’re already taking medication for another condition.
{% endmarkdown %}

    {{
      ui_element_macros.simple_pagination({
        previous: {
          url: "/depression-and-anxiety/getting-therapy",
          title: "Getting therapy"
        }
      })
    }}


  </div>

</main>

{% endblock %}
