{% extends 'templates/nhs_content_layout.html' %}
{% import 'includes/ui_element_macros.html' as ui_element_macros %}

{% block pageTitle %}
  Seeking help
{% endblock %}

{% block content %}

{{ ui_element_macros.breadcrumbs({
  items: {
    1: {
      text: "Depression and anxiety",
      href: "/depression-and-anxiety"
    },
    2: {
      text: "Seeking help"
    }
  }
})}}

<main id="content" role="main">

  {% include "depression-and-anxiety/includes/nav-contents.html" %}

  <div class="text markdown-content">

{% markdown %}
#Seeking help

If you have [symptoms of depression or anxiety](/depression-and-anxiety/how-to-tell-if-you-have-depression-or-anxiety) for more than 2 weeks you should see your GP. This is usually the first step to seek help.

It’s very common for people to see their GP about constant low mood, depression or anxiety.
{% endmarkdown %}

<p>
  <a href="/book-an-appointment/start" class="button button-secondary-cta">Book a GP appointment</a>
</p>

<div class="callout-box">
  <p>If you need help now, call 111 or the Samaritans on <span class="nowrap">08457 90 90 90</span>.</p>
</div>

{% markdown %}
If you don’t have a GP you can [register with a GP](/register-with-a-gp/start) and then book an appointment straight away.

You can also [see a therapist privately](/depression-and-anxiety/getting-therapy) without going through your GP or talk to someone at one of the [depression and anxiety charities](/depression-and-anxiety/getting-therapy).

###What happens in your GP appointment
Your GP will discuss your symptoms with you and recommend what you can do next.

You can be open and honest with your GP. This will help them to find the best way to help you.

They might recommend [therapy](/depression-and-anxiety/getting-therapy), or [medication](medication), or both. They might just recommend something as simple as exercising regularly.
{% endmarkdown %}

    {{
      ui_element_macros.simple_pagination({
        previous: {
          url: "/depression-and-anxiety/how-to-tell-if-you-have-depression-or-anxiety",
          title: "How to tell if you have depression or anxiety"
        },
        next: {
          url: "/depression-and-anxiety/getting-therapy",
          title: "Getting therapy"
        }
      })
    }}


  </div>

</main>

{% endblock %}
