
<!DOCTYPE html>
<html lang="">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <title>NHS.UK</title>

    <link href="/public/stylesheets/govuk-template.css?0.12.0" media="screen" rel="stylesheet" type="text/css" />
    <link href="/public/stylesheets/nhs_fonts.css" media="all" rel="stylesheet" type="text/css" />
    <link href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII=" rel="icon" type="image/x-icon">

    <meta name="viewport" content="width=device-width, initial-scale=1">


  <link href="/public/stylesheets/nhs_application.css" media="screen" rel="stylesheet" type="text/css" />

  <!-- Javascript -->

<script src="/public/javascripts/vendor/jquery-1.11.2.min.js"></script>
<script src="/public/javascripts/vendor/jquery-ui.min.js"></script>
<script src="/public/javascripts/vendor/jquery.select-to-autocomplete.js"></script>
<script src="/public/javascripts/vendor/jquery.sticky-kit.min.js"></script>
<script src="/public/javascripts/toggle.js"></script>
<script src="/public/javascripts/details.polyfill.js"></script>
<script src="/public/javascripts/application.js"></script>

<script>
 $(function() {

   $(".sticky").stick_in_parent();

 });
</script>

<style>
  body {
    font-family:Helvetica, Arial, sans-serif;
    font-weight:200;
    font-style:normal;
  }
</style>

  </head>

  <body class="">
    <script type="text/javascript">document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>



    <div id="skiplink-container">
      <div>
        <a href="#content" class="skiplink">Skip to main content</a>
      </div>
    </div>

    <header role="banner" id="global-header">
      <div class="header-container">

        <a href="/" class="header-logo" title="Go to the NHS.UK homepage">
          <img src="/public/images/nhs-logotype.svg" alt="">
        </a>


  <div class="header-controls">

  <form action="#" method="get" id="header-search">
    <input type="text" placeholder="Search" value="" class="form-control">
    <button type="submit"><span class="visuallyhidden">Search</span></button>
  </form>

  <div id="header-menu-link">
    <a href="#">menu</a>
  </div>

</div>



      </div>
    </header>
    <!--end header-->






<main id="content" role="main">

<div class="text markdown-content">

<h1>Food and keeping active with type 2 diabetes</h1>

<p>A healthy diet and keeping active will help you manage your blood sugar levels. They’ll also help you control your weight and make you generally feel better.</p>

<h2>Eating a healthy diet</h2>

<p>You don’t have to avoid certain foods altogether. You should, however, eat breakfast, lunch and dinner every day and eat different foods, eg lots of fruit and vegetables and some starchy carbohydrates like bread or pasta. Try to keep the amount of sugar, salt and fat to a minimum. </p>

<p>If you need to change your diet, it might be easier to make changes step by step, rather than replacing everything at once. </p>

<p>The charity Diabetes UK has detailed information on:</p>

<ul><li><a href="https://www.diabetes.org.uk/Guide-to-diabetes/Enjoy-food/Food-and-diabetes/What-is-a-healthy-balanced-diet/">food for people with diabetes</a> </li><li><a href="https://www.diabetes.org.uk/Guide-to-diabetes/Enjoy-food/Eating-with-diabetes/">tips on eating with your family and eating out</a> </li></ul>

<p class="panel-indent">Once a year you should go for a <a href="/type-2-diabetes/going-for-regular-diabetes-check-ups">regular diabetes check</a> to make sure your blood pressure and your cholesterol (blood fats) level are ok.</p>

<h3>Help with changing your diet</h3>

<p>If you find it hard to change your diet, you could ask a dietitian to help you. </p>

<p>Talk to your diabetic nurse about <a href="http://www.freelancedietitians.org/">finding a dietitian</a> and if the cost could be covered through the NHS. </p>

<p>Diabetes UK has lots of <a href="https://www.diabetes.org.uk/Guide-to-diabetes/Enjoy-food/Cooking-for-people-with-diabetes/">recipes for people with diabetes</a> that will help you cook healthy meals. </p>

<p>People in your <a href="https://www.diabetes.org.uk/In_Your_Area/">local diabetes group</a> might also have some cooking tips. </p>

<h2>Keeping active</h2>

<p>Physical exercise and building up muscles helps to keep your diabetes well controlled, so it&#39;s important to keep active if you have type 2 diabetes</p>

<p>You can be active anywhere. Fast walking, climbing stairs or doing more strenuous housework can all count as being active. You could also combine being active with other interests, eg strenuous gardening or walking fast part of the way if you go to a football match. </p>

<p>You should aim for 2.5 hours of activity per week. When you’re active you should get out of breath and not be able to carry on a conversation.</p>

<p>The charity Diabetes UK has some <a href="https://www.diabetes.org.uk/Guide-to-diabetes/Managing-your-diabetes/Exercise/">tips on how to get active</a>. </p>

<h2>Managing your weight</h2>

<p>When you have type 2 diabetes it’s important to manage your weight. Being a healthy weight will make it easier for your body to use the insulin properly and keep your blood pressure and cholesterol (blood fats) at a healthy level. </p>

<p>If you need to lose weight, try and do it slowly over time, about 0.5 to 1 kilo a week. </p>

<p>The charity Diabetes UK has more <a href="https://www.diabetes.org.uk/Guide-to-diabetes/Enjoy-food/Food-and-diabetes/Whats-your-healthy-weight/">information on healthy weight and weight loss</a>.</p>

</div>

</main>



    <footer id="footer" role="contentinfo">

  <div class="footer-wrapper">

    <div class="text">

      <p>
        <small>
          &copy; Crown copyright<br>
          Content available under <a href="#">Open Government Licence v3.0</a>, except where otherwise stated.
        </small>
      </p>

    </div>

  </div>

</footer>


    <div id="global-app-error" class="app-error hidden"></div>


  </body>
</html>
