{% extends 'templates/nhs_transaction_layout.html' %}

{% block pageTitle %}NHS.UK prototyping kit{% endblock %}

{% block content %}

<main id="content" role="main">

	<h1 class="heading-xlarge">Example pages</h1>
	<ul class="list-bullet">

		<li>
			<a href="/examples/blank">
				Blank page
			</a>
		</li>
		<li>
			<a href="/examples/elements/grid-layout">
				Grid layout
			</a>
		</li>
		<li>
			<a href="/examples/elements/typography">
				Typography
			</a>
		</li>
		<li>
			<a href="/examples/elements/forms">
				Form elements
			</a>
		</li>
	</ul>

</main>

{% endblock %}