// Buttons
// ==========================================================================

.button {
  @include box-sizing (border-box);
  @include inline-block;

  width: 100%;
  padding: 0.5rem 1rem;
  border: 0;
  @include border-radius(0);
  -webkit-appearance: none;

  color: $nhs-black;
  &:link,
  &:hover,
  &:focus,
  &:visited{
    color: $nhs-pure-black;
    background-color: $button-colour;
  }

  /* to be fixed */
  text-decoration: none !important;

  background-color: $button-colour;
  border-bottom: 2px solid $nhs-black;

  @include media (tablet) {
    width: auto;
  }
}

// Fix unwanted button padding in Firefox
.button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.button:focus {
  outline: 3px solid $nhs-yellow;
}

// Disabled buttons
.button[disabled="disabled"] {
  background: $button-colour;
}

.button[disabled="disabled"]:focus {
  outline: none;
}

// Start now buttons
.button-get-started {
  font-weight: bold;
  padding-right: 3rem;
  background-image: url("/public/images/icon-pointer.png");
  background-repeat: no-repeat;
  background-position: 100% 50%;

  @include device-pixel-ratio {
    background-image: url("/public/images/icon-pointer-2x.png");
    background-size: 30px 19px;
  }

  @include ie(6) {
    background-image: url("/public/images/icon-pointer-2x.png");
  }
}
