//@import '../typography/variables';
//@import '../typography/mixins';

.items-container {
  margin: 0 auto;
  max-width: 600px;
  padding-bottom: 2rem;
  @include breakpoint(break-1) {
    padding-top: 3rem;
  }
}

.shadow {
  height: 1rem;
  background: -moz-linear-gradient(top,  rgba($white,0) 0%, rgba($white,1) 80%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba($white,0)), color-stop(80%,rgba($white,1)));
  background: -webkit-linear-gradient(top,  rgba($white,0) 0%,rgba($white,1) 80%);
  background: -o-linear-gradient(top,  rgba($white,0) 0%,rgba($white,1) 80%);
  background: -ms-linear-gradient(top,  rgba($white,0) 0%,rgba($white,1) 80%);
  background: linear-gradient(to bottom,  rgba($white,0) 0%,rgba($white,1) 80%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='$white',GradientType=0 );
}
.items-container .item:first-child .shadow {
  display: none;
}
.items-container > .shadow {
  position: relative;
}

.item {
  position: relative;
  margin-top: 0;
  margin-bottom: -2rem;

  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);

  -webkit-transition: margin 0.25s ease-in-out;
  transition: margin 0.25s ease-in-out;
}
.item-open {
  margin-top: 2rem;
  margin-bottom: 0;
}
.items-container .item-open:first-child {
  margin-top: 0;
}
.item-open + .item-open {
  margin-top: 1px;
}

.item-content {
  padding: 1px;
  background-color: $white;
  border: 1px solid $nhs-grey-1;
  border-bottom-width: 2px;
  cursor: pointer;
}
.item-open .item-content {
  cursor: default;
}

.item-header {
  box-sizing: border-box;
  position: relative;

  .item-heading {
    display: block;
    color: $white;
    font-weight: bold;
    padding: 0.75rem 1rem;
    background-color: $nhs-blue;

    @include breakpoint(break-1) {
      padding-right: 7rem;
    }
  }

  .item-collapse-link {
    border-top: 1px solid $white;

    &:before {
      background-image: url('/public/images/icon-triangle-closed-black.svg');
    }
    .item-open &:before {
      background-image: url('/public/images/icon-triangle-open-black.svg');
    }

    @include breakpoint(break-1) {
      position: absolute;
      right: 0;
      top: 0;
      color: $white;
      background-color: transparent;
      border-top: none;
      &:link,
      &:active,
      &:visited,
      &:hover {
        color: $white;
      }
      &:before {
        content: '';
        display: block;
        float: left;
        width: 1rem;
        height: 2rem;
        margin-right: 0.25rem;
        background-image: url('/public/images/icon-triangle-closed-white.svg');
      }
      .item-open &:before {
        background-image: url('/public/images/icon-triangle-open-white.svg');
      }
    }
  }
}

.item-leadin {
  background-color: rgba($nhs-yellow, 0.1);
  border-top: 1px solid $white;
}

.item-leadin-content {
  @include fontsize(13, 0);
  @include measure(0);
  padding: 0 1rem;

  @include breakpoint(break-1) {
    @include fontsize(14, 1);
    @include measure(1);
  }

  & * {
    font-size: 1em;
  }
}

.item-body {
  overflow: hidden;
}

.item-body-content {
  padding: 0 1rem;
  @include measure(0);
  @include breakpoint(break-1) {
    @include measure(1);
  }
}

.item-collapse {
  margin-top: 1rem;
}

.item-collapse-link {
  @include fontsize(14, all);
  display: block;
  padding: 0.5rem 1rem;
  font-weight: normal;
  white-space: nowrap;
  color: $nhs-black;
  background-color: rgba($nhs-blue, 0.1);
  border-top: 2px solid rgba($nhs-blue, 0.2);

  &:link,
  &:active,
  &:visited,
  &:hover {
    color: $nhs-black;
  }

  &:before {
    content: '';
    display: block;
    float: left;
    width: 1rem;
    height: 2rem;
    margin-right: 0.25rem;
    background: url('/public/images/icon-triangle-close-black.svg') center no-repeat;
  }
}
