// Forms
// ==========================================================================

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: 3px solid $nhs-yellow;
}

// Fieldset is used to group more than one .form-group
fieldset {
  width: 100%;
  @extend %contain-floats;
}

// Form group is used to wrap label and input pairs
.form-group {
  float: left;
  width: 100%;
  @extend %contain-floats;
  margin-bottom: 2rem;
}

.form-group-related {
  margin-bottom: 1rem;
  @include media(tablet) {
    margin-bottom: 1rem;
  }
}

.form-group-compound {
  margin-bottom: 10px;
}

// Form title
.form-title {
  margin-bottom: $gutter;
  margin-bottom: 1rem;
  @include media(tablet) {
    margin-bottom: ($gutter*1.5);
    margin-bottom: 1.5rem;
  }
}


// Labels

// Form labels, or for legends styled to look like labels
.form-label,
.form-label-bold {
  display: block;
}

// Used for paragraphs in-between form elements
.form-block {
  float: left;
  width: 100%;
  @extend %contain-floats;
}


// Hints

// Form hints & examples are light grey and sit above a form control
.form-hint {
  display: block;
  font-weight: normal;
  color: $nhs-grey-1;
}


// Form controls

// By default, form controls are 50% width for desktop,
// and 100% width for mobile
.form-control {
  display: block;
  width: 100%;
  @include box-sizing(border-box);
  height: 4rem;
  line-height: 4rem;
  padding: 0 1rem;
  background-color: $white;
  outline: 1px solid $nhs-black;
  border: 1px solid $nhs-grey-3;

  // Disable webkit appearance and remove rounded corners
  -webkit-appearance: none;
  border-radius: 0;

  @include media(tablet) {
    width: 50%;
  }
}


// Form control widths
.form-control-1-1 {
  width: 100%;
}

.form-control-1-2 {
  width: 100%;
  @include media(tablet) {
    width: 50%;
  }
}

.form-control-1-3 {
  width: 100%;
  @include media(tablet) {
    width: 33.33%;
  }
}

.form-control-2-3 {
  width: 100%;
  @include media(tablet) {
    width: 66.66%;
  }
}

.form-control-1-4 {
  width: 100%;
  @include media(tablet) {
    width: 25%;
  }
}

.form-control-3-4 {
  width: 100%;
  @include media(tablet) {
    width: 75%;
  }
}

.form-control-1-8 {
  width: 100%;
  @include media(tablet) {
    width: 12.5%;
  }
}


// Radio buttons
.form-radio {
  display: block;
  margin: 10px 0;
}
.form-radio input {
  vertical-align: middle;
  margin: -4px 5px 0 0;
}


// Checkboxes
.form-checkbox {
  display: block;
  margin: $gutter-half 0;
}
.form-checkbox input {
  vertical-align: middle;
  margin: -2px 5px 0 0;
}


// Form validation
@import "forms/form-validation";


// Form patterns
@import "forms/form-date";
@import "forms/form-block-labels";
