// GOV.UK icons

.icon {
  display: inline-block;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.icon-calendar {
  background-image: url("/public/images/icon-calendar.png");
  @include device-pixel-ratio() {
    background-image: url("/public/images/icon-calendar-2x.png");
    background-size: 100%;
  }
  width: 27px;
  height: 27px;
}

.icon-download {
  background-image: url("/public/images/icon-file-download.png");
  @include device-pixel-ratio() {
    background-image: url("/public/images/icon-file-download-2x.png");
    background-size: 100%;
  }
  width: 30px;
  height: 39px;
}

.icon-important {
  background-image: url("/public/images/icon-important.png");
  @include device-pixel-ratio() {
    background-image: url("/public/images/icon-important-2x.png");
    background-size: 100%;
  }
  width: 34px;
  height: 34px;
}

.icon-information {
  background-image: url("/public/images/icon-information.png");
  @include device-pixel-ratio() {
    background-image: url("/public/images/icon-information-2x.png");
    background-size: 100%;
  }
  width: 27px;
  height: 27px;
}

.icon-locator {
  background-image: url("/public/images/icon-locator.png");
  @include device-pixel-ratio() {
    background-image: url("/public/images/icon-locator-2x.png");
    background-size: 100%;
  }
  width: 26px;
  height: 36px;
}

.icon-search {
  background-image: url("/public/images/icon-search.png");
  @include device-pixel-ratio() {
    background-image: url("/public/images/icon-search-2x.png");
    background-size: 100%;
  }
  width: 30px;
  height: 22px;
  background-color: black;
}

// GOV.UK arrow icons
.icon-pointer {
  background-image: url("/public/images/icon-pointer.png");
  @include device-pixel-ratio() {
    background-image: url("/public/images/icon-pointer-2x.png");
    background-size: 100%;
  }
  width: 30px;
  height: 19px;
  background-color: black;
}
.icon-pointer-black {
  background-image: url("/public/images/icon-pointer-black.png");
  @include device-pixel-ratio() {
    background-image: url("/public/images/icon-pointer-black-2x.png");
    background-size: 100%;
  }
  width: 23px;
  height: 23px;
}

// GOV.UK external link icons
// TODO (Are these provided by the template?)

// GOV.UK step icons
.icon-step-1 {
  background-image: url("/public/images/icon-steps/icon-step-1.png");
  @include device-pixel-ratio() {
    background-image: url("/public/images/icon-steps/icon-step-1-2x.png");
    background-size: 100%;
  }
  width: 23px;
  height: 23px;
}

.icon-step-2 {
  background-image: url("/public/images/icon-steps/icon-step-2.png");
  @include device-pixel-ratio() {
    background-image: url("/public/images/icon-steps/icon-step-2-2x.png");
    background-size: 100%;
  }
  width: 23px;
  height: 23px;
}

.icon-step-3 {
  background-image: url("/public/images/icon-steps/icon-step-3.png");
  @include device-pixel-ratio() {
    background-image: url("/public/images/icon-steps/icon-step-3-2x.png");
    background-size: 100%;
  }
  width: 23px;
  height: 23px;
}

.icon-step-4 {
  background-image: url("/public/images/icon-steps/icon-step-4.png");
  @include device-pixel-ratio() {
    background-image: url("/public/images/icon-steps/icon-step-4-2x.png");
    background-size: 100%;
  }
  width: 23px;
  height: 23px;
}

.icon-step-5 {
  background-image: url("/public/images/icon-steps/icon-step-5.png");
  @include device-pixel-ratio() {
    background-image: url("/public/images/icon-steps/icon-step-5-2x.png");
    background-size: 100%;
  }
  width: 23px;
  height: 23px;
}

.icon-step-6 {
  background-image: url("/public/images/icon-steps/icon-step-6.png");
  @include device-pixel-ratio() {
    background-image: url("/public/images/icon-steps/icon-step-6-2x.png");
    background-size: 100%;
  }
  width: 23px;
  height: 23px;
}

.icon-step-7 {
  background-image: url("/public/images/icon-steps/icon-step-7.png");
  @include device-pixel-ratio() {
    background-image: url("/public/images/icon-steps/icon-step-7-2x.png");
    background-size: 100%;
  }
  width: 23px;
  height: 23px;
}

.icon-step-8 {
  background-image: url("/public/images/icon-steps/icon-step-8.png");
  @include device-pixel-ratio() {
    background-image: url("/public/images/icon-steps/icon-step-8-2x.png");
    background-size: 100%;
  }
  width: 23px;
  height: 23px;
}

.icon-step-9 {
  background-image: url("/public/images/icon-steps/icon-step-9.png");
  @include device-pixel-ratio() {
    background-image: url("/public/images/icon-steps/icon-step-9-2x.png");
    background-size: 100%;
  }
  width: 23px;
  height: 23px;
}

.icon-step-10 {
  background-image: url("/public/images/icon-steps/icon-step-10.png");
  @include device-pixel-ratio() {
    background-image: url("/public/images/icon-steps/icon-step-10-2x.png");
    background-size: 100%;
  }
  width: 23px;
  height: 23px;
}

.icon-step-11 {
  background-image: url("/public/images/icon-steps/icon-step-11.png");
  @include device-pixel-ratio() {
    background-image: url("/public/images/icon-steps/icon-step-11-2x.png");
    background-size: 100%;
  }
  width: 23px;
  height: 23px;
}

.icon-step-12 {
  background-image: url("/public/images/icon-steps/icon-step-12.png");
  @include device-pixel-ratio() {
    background-image: url("/public/images/icon-steps/icon-step-12-2x.png");
    background-size: 100%;
  }
  width: 23px;
  height: 23px;
}

.icon-step-13 {
  background-image: url("/public/images/icon-steps/icon-step-13.png");
  @include device-pixel-ratio() {
    background-image: url("/public/images/icon-steps/icon-step-13-2x.png");
    background-size: 100%;
  }
  width: 23px;
  height: 23px;
}


// Icomoon.io icons - temp for prototyping
.icomoon {
  display: inline-block;
  position: relative;
  padding-left: 2.5rem;
}
.icomoon:before {
  content: ' ';
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  height: 1.5rem;
  width: 1.5rem;
  background-repeat: no-repeat;
  background-size: contain;
}

.icomoon-calendar:before {
  background-image: url('/public/images/icomoon-calendar.svg');
}

.icomoon-location:before {
  background-image: url('/public/images/icomoon-location.svg');
}

.icomoon-printer:before {
  background-image: url('/public/images/icomoon-printer.svg');
}
