@import '../typography/variables';
@import '../typography/modular-scale';
@import '../typography/mixins';

// Panels
// ==========================================================================

// Indented panels with a grey left hand border
.panel-indent {
  @extend %contain-floats;
  clear: both;
  border-left: 6px solid $nhs-grey-4;
  padding: 0 1rem 2rem 1rem;
}

.panel-indent legend {
  margin-top: 0;
}

// Remove bottom margin on last paragraph
.panel-indent p:only-child,
.panel-indent p:last-child {
  margin-bottom: 0;
}

.panel-indent .form-group:last-child {
  margin-bottom: 0;
}

// NHS Panels
// ==========================================================================

// Appointment option links
.appointment-option,
.appointment-option:link,
.appointment-option:active,
.appointment-option:hover,
.appointment-option:visited {
  color: $nhs-black;
  text-decoration: none;
}
.appointment-option {
  display: block;
  @include box-sizing(border-box);
  padding: 0.82rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  border: 2px solid $nhs-blue;
  outline: 1px solid $nhs-black;
  @extend %contain-floats;

  transition: background-color 0.2s ease-out;

  .details {
    float: left;
  }

  .mugshot {
    float: left;
    width: 8rem;
    height: 8rem;
    margin-right: 2rem;
  }
  img {
    max-width: 100%;
    border-radius: 100%;
    box-shadow: 0px 0px 2px 0px rgba($nhs-black,0.5);
  }

  h3 {
    @include sassline($fontsize: medium, $font: $bodytype, $lineheight: 2, $below: 1, $breakpoint: all);
    color: $nhs-blue;
    text-decoration: underline;
  }

  p {
    @include sassline($fontsize: small, $font: $bodytype, $lineheight: 2, $below: 1, $breakpoint: all);
  }

  p.appointment-type {
    line-height: 3rem;
    padding-left: 3rem;
    &.telephone {
      background: url('/public/images/icon-telephone.svg') no-repeat left 1rem;
    }
    &.face-to-face {
      background: url('/public/images/icon-face-to-face.svg') no-repeat left 1rem;
    }
  }
}

.appointment-option:hover,
.appointment-option:focus {
  background-color: rgba($nhs-blue, 0.1);
}

// Appointment summary panels
.appointment-summary {
  display: block;
  max-width: 30em;
  padding: $gutter/3 $gutter/4;
  margin-bottom: $gutter;
  border: 4px solid #00855F;
  @extend %contain-floats;

  .heading-medium {
    margin-top: 0;
  }

  @include media(tablet) {
    padding: $gutter/2;
    border-width: 2px;
  }

}

a.appointment-summary:focus,
a.appointment-summary:hover {
  background-color: $white;
  border-color: $yellow;
  outline: 3px solid $yellow;
}

.appointment-summary--secondary {
  border-color: $grey-3;
  @include media(tablet) {
    font-size: inherit;
    .heading-medium {
      font-size: inherit;
    }
  }
}

.appointment-summary__avatar {
  float: left;
  width: 35px;
  padding-right: $gutter/3;
  @include media(tablet) {
    width: 75px;
    padding-right: $gutter/2;
  }
}

.appointment-summary__info {
  float: left;
}

// Appointment confirmation panel
.appointment-confirmation {
  margin-bottom: $gutter/2;
  @extend %contain-floats;
}

.appointment-confirmation__info {
  float: left;
}

.appointment-confirmation__avatar {
  float: left;
  width: 75px;
  padding-right: $gutter/3;
  @include media(tablet) {
    padding-right: $gutter;
  }
}
