// Utility classes
// ==========================================================================

.collapse-top {
  margin-top: 0;
}

.collapse-bottom {
  margin-bottom: 0;
}

.expand {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.expand-top {
  margin-top: 2rem;
}

.expand-top-half {
  margin-top: 1rem;
}

.expand-bottom {
  margin-bottom: 2rem;
}

.expand-bottom-half {
  margin-bottom: 1rem;
}

.expand-bottom-quarter {
  margin-bottom: 0.5rem;
}

.clearfix {
  @extend %contain-floats;
}

/* Hide only visually, but have it available for screenreaders */
.visuallyhidden {
  position: absolute;
  left: -9999em;
  /*
  * Extends the .visuallyhidden class to allow the element to be
  * focusable when navigated to via the keyboard
  */
  &.focusable:active,
  &.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
  }
}

.nowrap {
  white-space: nowrap;
}
