{% extends 'templates/nhs_transaction_layout.html' %}
{% import 'includes/form_macros.html' as form_macros %}
{% import 'includes/ui_element_macros.html' as ui_element_macros %}

{% block afterHeader %}
  {% include "includes/service-headers/book-an-appointment.html" %}
{% endblock %}

{% block content %}
<main id="content" role="main">

  <h1 class="heading-xlarge">
    Appointment confirmed
  </h1>

  {{ ui_element_macros.appointment_confirmation(service_context.appointment) }}

  <p>
    {{ service_context.appointment.address|safe }}
  </p>

  <ul>
    <li>
      <a href="#" class="font-xsmall icomoon icomoon-calendar">Add to your calendar</a>
    </li>
    <li>
      <a href="#" class="font-xsmall icomoon icomoon-location">Show a map</a>
    </li>
    <li>
      <a href="#" class="font-xsmall icomoon icomoon-printer">Print this page</a>
    </li>
  </ul>

  <hr>

  <p>
    A copy of this page has been sent to your email address.
  </p>

  <div class="font-xsmall">
    <p>
      We will send you SMS reminders of your appointment. <a href="#">Change reminders</a>
    </p>
  </div>

  <h2 class="heading-large">
      About your {{ service_context.name|lower }}
  </h2>

  <div class="text">
    <p>
    {{ service_context.confirmation_hint|safe }}
    </p>
  </div>


</main>
{% endblock %}
