{% extends 'templates/nhs_transaction_layout.html' %}
{% import 'includes/form_macros.html' as form_macros %}
{% import 'includes/ui_element_macros.html' as ui_element_macros %}

{% block afterHeader %}
  {% include "includes/service-headers/book-an-appointment.html" %}
{% endblock %}

{% block content %}
<main id="content" role="main">

  <div class="text">
    <h1 class="heading-xlarge">
      Choose a {{ service_context.name|lower }} appointment
    </h1>
    {{ service_context.triage_hint|safe }}
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <h2 class="heading-small" style="font-weight:normal;">First available appointment:</h2>

      {{ ui_element_macros.appointment_option(service_context.appointment) }}

      <h3 class="heading-medium">More appointment options:</h3>

      <ul class="list-bullet">
        <li><a href="#">I’d prefer to see a woman</a></li>
        <li><a href="#">I’d like an early morning appointment</a></li>
        <li><a href="#">I’d like to see a particular person</a></li>
      </ul>

      <p>
        or <a href="all-appointments">see all appointments</a>
      </p>
    </div>
  </div>

</main>
{% endblock %}
