/* nhsalpha_frontend_toolkit includes */
@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

#global-header .header-wrapper:after, #global-header .header-wrapper .header-global:after, #global-header .header-wrapper .header-global .header-logo:after, #global-header .header-proposition #proposition-link:after,
#global-header .header-proposition #proposition-links:after {
  content: "";
  display: block;
  clear: both; }

/* local styleguide includes */

html, body, div, h1, h2, h3, h4, h5, h6, article, aside, footer, header, hgroup, nav, section {
  margin: 0;
  padding: 0;
  vertical-align: baseline; }

main {
  display: block; }

.group:before,
.group:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden; }

.group:after {
  clear: both; }

.group {
  zoom: 1; }

.content-fixed {
  top: 0;
  position: fixed; }

.shim {
  display: block; }

/*
 * 1. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  -webkit-text-size-adjust: 100%;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 1 */ }

/*
  Force the scrollbar to always display in IE10/11
 */
html {
  -ms-overflow-style: scrollbar; }

ol, ul, nav ol, nav ul {
  list-style: inherit; }

fieldset {
  border: none;
  padding: 0; }

a[rel="external"]:after {
  background-image: url(external-links/external-link.png?0.12.0);
  background-repeat: no-repeat; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    a[rel="external"]:after {
      background-image: url(external-links/external-link-24x24.png?0.12.0);
      background-size: 12px 400px; } }
a[rel="external"]:after {
  content: "\A0\A0\A0\A0";
  background-position: right 6px; }
a[rel="external"]:hover:after {
  background-position: right -382px; }
@media (max-width: 640px) {
  a[rel="external"]:after {
    content: "\A0\A0\A0\A0\A0";
    background-position: right 3px; }
  a[rel="external"]:hover:after {
    background-position: right -385px; } }

.external-link:after {
  content: "\A0\A0\A0\A0\A0\A0\A0\A0";
  background-position: right 0px; }
.external-link:hover:after {
  background-position: right 0px; }
.external-link:after {
  background-image: url(external-links/external-link-black-12x12.png?0.12.0);
  background-repeat: no-repeat; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .external-link:after {
      background-image: url(external-links/external-link-black-24x24.png?0.12.0);
      background-size: 12px 400px; } }

/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 *    note - font-size reduced to 62.5% to allow simple rem/px font-sizing and fallback
 *    http://snook.ca/archives/html_and_css/font-size-with-rem
 * 2. Keeps page centred in all browsers regardless of content height
 * 3. Removes Android and iOS tap highlight color to prevent entire container being highlighted
 *    www.yuiblog.com/blog/2010/10/01/quick-tip-customizing-the-mobile-safari-tap-highlight-color/
 */
html {
  font-size: 62.5%;
  /* 1 */
  overflow-y: scroll;
  /* 2 */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* 3 */ }

/*
 * 1. Font-size increased to compensate for change to html element font-size in
 *    order to support beta typography which was set in ems
 *    (62.5% * 160% = 100%)
 * 2. Addresses margins handled incorrectly in IE6/7
 */
body {
  font-size: 160%;
  /* 1 */
  margin: 0;
  /* 2 */ }

img {
  border: 0; }

abbr[title] {
  cursor: help; }

/*
 * 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
  margin-right: 2px; }

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/* For image replacement */
.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr; }
  .ir br {
    display: none; }

/* Hide for both screenreaders and browsers */
.hidden {
  display: none;
  visibility: hidden; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden; }

/* Make skiplinks visible when they are tabbed to */
.skiplink {
  position: absolute;
  left: -9999em; }

.skiplink:focus {
  position: static; }

#skiplink-container {
  text-align: center;
  background: #0b0c0c; }
  #skiplink-container div {
    text-align: left;
    margin: 0 auto;
    max-width: 1020px; }
  #skiplink-container .skiplink {
    display: -moz-inline-stack;
    display: inline-block;
    margin: 0.75em 0 0 30px; }
