// Auto-suggest box

.ui-autocomplete {
  padding: 0;
  list-style: none;
  background-color: $white;
  width: 218px;
  border: 1px solid $border-colour;
  max-height: 350px;
  overflow-x: hidden;
}
.ui-autocomplete .ui-menu-item {
  border-top: 1px solid $border-colour;
  display: block;
  padding: 4px 6px;
  color: #353D44;
  cursor: pointer;
  font-size: 19px;
}
.ui-autocomplete .ui-menu-item:first-child {
  border-top: none;
}
.ui-autocomplete .ui-menu-item.ui-state-focus {
  background-color: #D5E5F4;
  color: #161A1C;
}

.ui-helper-hidden-accessible{
  display: none;
}