// Form navigation

.form-navigation{
  //@include core-16();
  margin: $gutter 0 0;
}

// Back link

a.back-to-previous{
  &:before {
    content: '';
    position: relative;
    left: -6px;
    display: inline-block;
    border: 6px solid transparent;
    border-right-color: $black;
  }
}

// Question number
.question-number{
  padding-left: $gutter-half;
  color: $secondary-text-colour;
}
