// NHS template

#global-header {
  background-color: $nhs-blue;

  @extend %contain-floats;

  .header-logo {
    max-width: 960px;
  	margin: 0 15px;
    padding: 0;

    @include media(tablet) {
      margin: 0 auto;
      padding: 0 30px;
    }

    a {
      display: block;
      float: left;
      margin: 15px 0;
      &:focus {
        background-color: transparent;
      }
    }

    img {
      display: block;
      width: 90px;
    }
  }
}

.service-header {
	background-color: rgba($nhs-blue, 0.25);
}

.service-header .service-name {
  max-width: 960px;
	margin: 0 15px;
  padding: 8px 0;

  @include media(tablet) {
    margin: 0 auto;
    padding: 15px 30px;
  }
}

html,
#footer {
  background-color: rgba($nhs-black, 0.1);
}

#footer {

  @extend %contain-floats;

  .footer-wrapper {
    max-width: 960px;
  	margin: 0 15px;
    padding: 0;

    @include media(tablet) {
      margin: 0 auto;
      padding: 0 30px;
    }
  }
}
