// NHS template

body {
  background: $white;
}

#global-header {
  background-color: $nhs-blue;

  @extend %contain-floats;

  .header-container {
    max-width: 960px;
  	margin: 0 15px;
    padding: 0;

    @include media(tablet) {
      margin: 0 auto;
      padding: 0 30px;
    }
  }

  a.header-logo {
    display: block;
    float: left;
    width: 90px;
    height: 36px;
    margin: 15px 0 15px 0;

    &:focus {
      background-color: transparent;
    }

    img {
      display: block;
      width: 90px;
    }
  }

  .header-controls {
    clear: both;
    padding-top: 15px;
    @include media(tablet) {
      clear: none;
      float: right;
      height: 66px;
      padding-top: 0;
    }
  }

  #header-search {
    float: left;
    width: calc(100% - 120px);
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    @include media(tablet) {
      width: auto;
    }
    .form-control {
      float: left;
      width: 140px;
      width: calc(100% - 40px);
      height: 40px;
      padding-left: 6px;
      margin: 0;
      border: none;
      @include media(tablet) {
        width: 260px;
      }
    }
    button {
      display: block;
      float: left;
      width: 40px;
      height: 40px;
      background: url('/public/images/icomoon-search.svg') no-repeat center $nhs-black;
      background-size: 24px;
      border: none;
    }
  }

  #header-menu-link {
    float: right;
    height: 100%;
    margin: 0 0 0 30px;
    @include media(tablet) {
      float: left;
    }

    a {
      display: block;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      color: $nhs-white;
      font-weight: bold;
      font-size: 18px;
      text-decoration: none;

      &:before {
        content: '';
        display: block;
        float: left;
        width: 30px;
        height: 25px;
        margin-right: 7px;
        background: url('/public/images/icon-menu.svg') center no-repeat;
      }

      &:hover {
        text-decoration: underline;
      }
      &:focus {
        background-color: transparent;
        outline: 3px solid $nhs-yellow;
      }
    }
  }
}

.service-header {
	background-color: rgba($nhs-blue, 0.1);
}

.service-header .service-name {
  max-width: 960px;
	margin: 0 15px;
  padding: 8px 0;

  @include media(tablet) {
    margin: 0 auto;
    padding: 15px 30px;
  }
}

html,
#footer {
  background-color: rgba($nhs-black, 0.1);
}

#footer {

  @extend %contain-floats;

  .footer-wrapper {
    max-width: 960px;
  	margin: 0 15px;
    padding: 0;

    @include media(tablet) {
      margin: 0 auto;
      padding: 0 30px;
    }
  }
}
