// NHS template

body {
  background: $white;
}

#global-header {
  background-color: $nhs-blue;
  border-bottom: 6px solid #e5f0f9;

  @extend %contain-floats;

  .header-container {
    max-width: 960px;
  	margin: 0 15px;
    padding: 0;

    @include media(tablet) {
      margin: 0 auto;
      padding: 0 30px;
    }
  }

  a.header-logo {
    display: block;
    float: left;
    width: 90px;
    height: 36px;
    margin: 15px 0 15px 0;

    &:focus {
      background-color: transparent;
    }

    img {
      display: block;
      width: 90px;
    }
  }

  .header-controls {
    clear: both;
    padding-top: 15px;
    @include media(tablet) {
      clear: none;
      float: right;
      height: 66px;
      padding-top: 0;
    }
  }

  #header-search {
    float: left;
    width: calc(100% - 120px);
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    @include media(tablet) {
      width: auto;
    }
    .form-control {
      float: left;
      width: 140px;
      width: calc(100% - 40px);
      height: 40px;
      line-height: 40px;
      padding-left: 6px;
      margin: 0;
      border: none;
      outline: none;
      @include media(tablet) {
        width: 260px;
      }
    }
    button {
      display: block;
      float: left;
      width: 40px;
      height: 40px;
      background: url('/public/images/icomoon-search.svg') no-repeat center $nhs-black;
      background-size: 24px;
      border: none;
    }
  }
}

.service-header {
	background-color: rgba($nhs-blue, 0.1);
}

.service-header .service-name {
  max-width: 960px;
	margin: 0 15px;
  padding: 2px 0 8px 0;

  @include media(tablet) {
    margin: 0 auto;
    padding: 9px 30px 15px 30px;
  }
}

html,
#footer {
  background-color: $nhs-black;
}

#footer {
  color: #d9dbdd;
  padding: 2rem 0;
  border-top: 6px solid $nhs-grey-1;

  @extend %contain-floats;

  a {
    color: #d9dbdd;
  }

  .footer-wrapper {
    max-width: 960px;
  	margin: 0 15px;
    padding: 0;

    @include media(tablet) {
      margin: 0 auto;
      padding: 0 30px;
    }
  }
}
