


// SELECT BOX STYLES


// 1. STANDARD VERSION
//
// Styles the native select control

select.form-select{

  width: 100%;
  @include box-sizing(border-box);

  //@include core-19;
  padding: 5px 45px 4px 10px;
  background-color: #fff;
  background: #FFF url(/public/images/toggle-sprite-grey.png) no-repeat 100% -50px;
  border: 1px solid $border-colour;
  -webkit-appearance: none;
  border-radius: 0;

  @include media(tablet) {
    width: auto;
  }
  &:hover{
    cursor: pointer;
  }
}


// 2. ENHANCED VERSION
//
// When applied to a set of radio buttons this emulates a more usable version of
// the native select box. The main enhancement is that the box expands INTO the
// page rather than over it, so you scroll through the list just by scrolling
// the page. It also stays open on click, so it's easier to use if your motor
// skills aren't so good.

.js-enabled .js-form-select{
  height: 38px;
  overflow: hidden;
  padding: 0;
  @include box-sizing(border-box);
  border: 1px solid $border-colour;
  background: $border-colour url(/public/images/toggle-sprite-grey.png) no-repeat 100% -50px;

  //@include core-19;

  &:hover{
    cursor: pointer;
  }

  .select-options{
    // Hide all items...
    label{
      display: none;
      padding: 5px 45px 4px 10px;
      background-color: white;
      border-bottom: 1px solid $border-colour;
      &:hover{
        cursor: pointer;
      }
    }


    label:nth-child(2){
    }

    // ...then show checked item
    input:checked + label{
      display: block;
      margin-right: 30px;
    }
  }

    // Open styles

  &.open{
    height: auto;
    background: url(/public/images/toggle-sprite-grey.png) no-repeat 100% -16px;

    &::before{
      display: none;
    }

    .select-options{
      label{
      display: block;
      }
      input:checked + label{
        margin-right: 0;
          background-color: $highlight-colour;
      }
      label:nth-child(2){
        margin-right: 30px !important;
      }
      label{
        &:hover{
          background-color: $highlight-colour;
        }
      }
    }
  }
}


// Compact version

.form-select.compact-control{
  //@include core-16;
  padding: 3px 22px 2px 5px;
  background: #FFF url(/public/images/toggle-sprite-grey.png) no-repeat 101% -55px;

}


.form-select-2{
  //@include core-19;

  width: 100%;
  @include box-sizing(border-box);
  padding: 6px 45px 5px 10px;
  background: #CCC url(/public/images/toggle-sprite.png) no-repeat 100% -25px;
  border: 0 solid;
  -webkit-appearance: none;
  border-radius: 0;

  @include media(tablet) {
    width: auto;
  }
}

.form-select-3{
  //@include core-19;

  margin-top: 3px;

  width: 100%;
  @include box-sizing(border-box);
  border: 1px solid $border-colour;

  @include media(tablet) {
    width: auto;
  }
}

.form-select-4{
  font-size: 16px;
  margin-top: 7px;
}
