// Fixed character width form controls
.form-control-1-char    {	width: 1.5em }
.form-control-2-chars   {	width: 5rem }
.form-control-3-chars   {	width: 3.3em }
.form-control-4-chars   {	width: 10rem }
.form-control-5-chars   {	width: 5.1em }
.form-control-6-chars   {	width: 6em }
.form-control-7-chars   {	width: 7em }
.form-control-8-chars   {	width: 8em }
.form-control-9-chars   {	width: 9em }
.form-control-10-chars  {	width: 10em }
.form-control-11-chars  {	width: 11em }
.form-control-12-chars  {	width: 12em }
.form-control-13-chars  {	width: 13em }
.form-control-14-chars  {	width: 14em }
.form-control-15-chars  {	width: 15em }
.form-control-16-chars  {	width: 16em }

.form-control-email{
  width: 36em;
}


// Margins for left or right aligned labels

.form-label.horizontal-right-label{
  margin-bottom: 0;
  .form-control{
    margin-right: 10px
  }
}

.form-label.horizontal-left-label{
  margin-bottom: 0;
  .form-control{
    margin-left: 10px
  }
}



// Position the 'or' in radio lists

.or {
  display: none;
  float: left;
  clear: left;
  padding: 5px 0 0 7px;
}


.manual-address{

  padding: 20px 10px;

  textarea{
    margin-bottom: 10px;
  }
  .submit-to-register{
    padding: 10px 0;
    font-size: 16px;
  }
}




// helper classes

.transform-uppercase {
  text-transform: uppercase;
}
