{% extends 'templates/nhs_layout.html' %}

{% block pageTitle %}NHS.UK prototyping kit{% endblock %}

{% block content %}

<main id="content" role="main">

	<h1 class="heading-xlarge">Welcome to the NHS.UK Alpha prototyping kit</h1>
	<!-- feel free to change this page to suit your needs -->

	<p>This is the index.html page - we recommend you put links to key pages here.</p>

	<h2 class="heading-large">Pages</h2>

	<ul>
        <li><a href="/examples">Example pages</a></li>
		<li><a href="/book-an-appointment/">Book an Appointment v1</a></li>
	</ul>

</main>

{% endblock %}
