{% extends 'templates/nhs_transaction_layout.html' %}

{% block pageTitle %}NHS.UK prototyping kit{% endblock %}

{% block content %}

<main id="content" role="main">
  <h1 class="heading-xlarge">NHS.UK Alpha prototypes</h1>

  <h2 class="heading-large">About us</h2>

<ul>
  <li><a href="http://digital.nhs.uk/">Read our blog</a><li>
</ul>

  <h2 class="heading-large">Prototypes</h2>

  <ul>
    <li><a href="/register-with-a-gp/">Register with a GP practice</a></li>
    <li><a href="/book-an-appointment/">Book an Appointment</a></li>
    <li><a href="/change-or-cancel-an-appointment/">Change or Cancel an Appointment</a></li>
    <li><a href="/booking-with-context/">Booking with Context</a></li>
    <li><a href="/diabetes-content/">Content pages for Type 2 Diabetes</a></li>
  </ul>

  <h2 class="heading-large">Other pages</h2>

  <ul>
    <li><a href="/examples">Example pages</a></li>
  </ul>
</main>

{% endblock %}
