{% extends 'templates/nhs_transaction_layout.html' %}

{% block pageTitle %}NHS.UK prototyping kit{% endblock %}

{% block content %}

<main id="content" role="main">
  <h1 class="heading-xlarge">NHS.UK Alpha prototypes</h1>

  <h2 class="heading-large">About us</h2>

<ul>
  <li><a href="http://digital.nhs.uk/">Read our blog</a><li>
</ul>

  <h2 class="heading-large">Prototypes</h2>

  <p class="expand-bottom">
    <a href="/homepage" class="button button-secondary-cta">Homepage*</a>
  </p>

  <ul>
    <li><a href="/register-with-a-gp/">Register with a GP practice</a></li>
    <li><a href="/book-an-appointment/">Book an Appointment</a></li>
    <li><a href="/change-or-cancel-an-appointment/">Change or cancel an appointment</a></li>
    <li><a href="/depression-and-anxiety/">Content pages for depression and anxiety</a></li>
    <li><a href="/type-2-diabetes/">Content pages for type 2 diabetes</a></li>
    <li><a href="/planner/">Type 2 diabetes planner</a></li>
  </ul>

  <h2 class="heading-large">Alpha pages on NHS.UK</h2>

  <p><a href="http://alpha.nhs.uk/">http://alpha.nhs.uk/</a></p>

  <h2 class="heading-large">Other pages</h2>

  <ul>
    <li><a href="/examples">Example pages</a></li>
  </ul>
</main>

{% endblock %}
