{% import 'includes/ui_element_macros.html' as ui_element_macros %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>

      Warts -


    NHS.UK Alpha
  </title>

  <link type="text/css" rel="stylesheet" href="http://fast.fonts.net/cssapi/e3854e97-b35c-4f31-bf5d-f804408f2ef8.css"/>
  <link href="http://alpha.nhs.uk/public/stylesheets/nhsuk.css" media="screen" rel="stylesheet" type="text/css" />

  <!--[if lt IE 9]>
    <script src="http://alpha.nhs.uk/public/javascripts/vendor/html5shiv.js" type="text/javascript"></script>
    <script src="http://alpha.nhs.uk/public/javascripts/vendor/html5shiv-printshiv.js" type="text/javascript"></script>
  <![endif]-->

  <style type="text/css">
    #breadcrumbs {
      padding-top: 15px;
      font-size: 15px;
      overflow: auto; }
      #breadcrumbs .breadcrumbs-wrapper {
        max-width: 960px;
        margin: 0 15px;
        padding: 0; }
        @media (min-width: 641px) {
          #breadcrumbs .breadcrumbs-wrapper {
            margin: 0 auto;
            padding: 0 30px; } }
      #breadcrumbs li {
        display: inline-block;
        margin-left: 0; }
      #breadcrumbs li:after {
        content: ' >'; }
      #breadcrumbs li:last-child:after {
        content: ''; }
  </style>

</head>
<body>

<div id="skiplink-container">
  <div>
    <a href="#content">Skip to main content</a>
  </div>
</div>

<div id="global-cookies-banner" role="alert">
  <p>
    NHS.UK uses cookies to make the site simpler.
    <a href="http://alpha.nhs.uk/help/cookies">Find out more about cookies</a>
  </p>
</div>

<header role="banner" id="global-header">
  <div class="header-container">
    <a href="/homepage" class="header-logo" title="Go to the NHS.UK homepage">
      <img src="http://alpha.nhs.uk/public/images/nhs-logotype.svg" alt="NHS" width="90" height="36">
    </a>
  </div>
</header>

<div class="phase-banner">
  <p>
    <b>This is a new service.</b> We're still working on it. Send feedback to
    <a href="mailto:alphafeedback@digital.nhs.uk">alphafeedback@digital.nhs.uk</a>
    to help us improve it. The live service is <a href="http://www.nhs.uk">NHS.UK.</a>
  </p>
</div>

{{ ui_element_macros.breadcrumbs({
  items: {
    1: {
      text: "Warts"
    }
  }
})}}

<main id="content" class="block-container" role="main" tabindex="-1">



  <div class="content-measure">
    <h1 id="warts">Warts</h1>

<h2 id="check-if-you-have-them">Check if you have them</h2>

<div class="condition-images">
  <figure>
    <img src="http://alpha.nhs.uk/public/images/conditions/warts/standard-wart.jpg" alt="Wart" />
    <figcaption>Warts feel firm and rough like a cauliflower. They can appear on palms, knuckles, knees and fingers.</figcaption>
  </figure><!--
  --><figure>
    <img src="http://alpha.nhs.uk/public/images/conditions/warts/verruca.jpg" alt="Verruca" />
    <figcaption>Warts on your feet are known as verrucas. They have tiny black dots under the hard skin and can be painful - like standing on a needle.</figcaption>
  </figure><!--
  --><figure>
    <img src="http://alpha.nhs.uk/public/images/conditions/placeholder.png" alt="Plane warts" />
    <figcaption>Some warts are round, flat and sometimes yellow (plane warts). You might have many of them.</figcaption>
  </figure><!--
  --><figure>
    <img src="http://alpha.nhs.uk/public/images/conditions/warts/cluster.jpg" alt="Mosaic warts" />
    <figcaption>Clusters of warts, spread over an area of skin (mosaic warts) are common on hands and feet.</figcaption>
  </figure>
</div>

<h2 id="warts-often-go-away-on-their-own">Warts often go away on their own</h2>
<p>You don’t have to do anything about warts. They’ll usually disappear within 2 years.</p>

<p>Warts don’t cause you any harm. Sometimes warts can itch or bleed but that doesn’t mean there’s a problem.</p>

<div class="notice" role="note" aria-label="Information">
  <p>
    There’s no need to see your GP unless your warts are in a spot that’s bothering you, keep coming back or they’re painful.
  </p>
</div>

<p>Don’t try to scrape off your warts and verrucas. You might get more.</p>

<p>You can buy creams, plasters and sprays from the pharmacy to remove warts. However, these treatments can be painful and don’t always work.</p>

<p><a href="http://www.nhs.uk/Conditions/Genital_warts/Pages/Introduction.aspx">Warts on your vulva, penis or anus</a> (genital warts) need different treatment.</p>

<h2 id="removing-warts-from-your-face-hands-or-other-visible-spots">Removing warts from your face, hands or other visible spots</h2>
<p>Warts on your face: see your GP - they might refer you to a skin specialist.<br />
Don’t use wart removal creams, plasters and sprays on your face.</p>

<p>Warts in other visible spots, eg your hands: your GP might freeze them off. They will become inflamed, then settle and then fall off a few weeks later. If the wart is big you might need several sessions. However, the warts can come back.</p>

<h2 id="how-to-stop-warts-from-spreading">How to stop warts from spreading</h2>

<ul>
  <li>wash your hands after touching a wart</li>
  <li>don’t bite your nails or suck your fingers with warts on</li>
  <li>change your socks daily if you have warts on your feet</li>
  <li>avoid cutting warts when shaving</li>
  <li>don’t share towels</li>
  <li>cover warts when swimming</li>
</ul>

<p><a href="http://www.nhs.uk/Conditions/Warts/Pages/Introduction.aspx">Medical detail about warts</a></p>

<p><a href="http://cks.nice.org.uk/warts-and-verrucae#!background">National Institute for Health and Care Excellence on warts</a></p>

  </div>



</main>


<footer id="global-footer" role="contentinfo">
  <div class="footer-container">
    <nav>
      <ul>
        <li><a href="http://alpha.nhs.uk/help/cookies">Cookies</a></li>
        <li><a href="http://alpha.nhs.uk/help/clinical-assurance">Clinical assurance</a></li>
      </ul>
    </nav>

    <p>
      &copy; Crown copyright<br>
      Content available under <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/">Open Government Licence v3.0.</a>
    </p>
  </div>
</footer>

<script type="text/javascript" src="http://alpha.nhs.uk/public/javascripts/cookies.js"></script>

</body>
</html>
