{% extends 'templates/nhs_content_layout.html' %}
{% import 'includes/ui_element_macros.html' as ui_element_macros %}

{% block content %}

{{ ui_element_macros.breadcrumbs({
  items: {
    1: {
      text: "Type 2 diabetes",
      href: "/type-2-diabetes"
    },
    2: {
      text: "Check if you have type 2 diabetes"
    }
  }
})}}

<main id="content" role="main">

  {% include "type-2-diabetes/includes/nav-contents.html" %}

  <div class="text markdown-content">

{% markdown %}
#Check if you have type 2 diabetes

Many people have type 2 diabetes and don’t realise. This is because the symptoms develop slowly and don’t necessarily make you feel unwell.  People are often diagnosed with diabetes when they go to their GP with another problem.

##How to tell if you have type 2 diabetes

Symptoms of type 2 diabetes include:

- peeing more than usual, particularly at night
- feeling thirsty all the time
- feeling very tired
- losing weight without trying
- itching around your penis or vagina, or you keep getting thrush
- cuts or wounds that take longer to heal

You're more at risk of developing type 2 diabetes if you are:

- are over 40 (or 25 for South Asian people)
- have a close relative with diabetes (parent, brother or sister)
- are overweight or obese
- are of South Asian, Chinese, African-Caribbean or black African origin (even if you were born in the UK)

##When to see your GP
See your GP if you have any of the symptoms of diabetes, or you are worried you may have a higher risk of developing it.

Your GP can diagnose diabetes, although you will need a blood test which you may need to go your local hospital for.

The earlier diabetes is diagnosed and treatment starts, the better.  Untreated diabetes can damage your organs and lead to complications.  Doing something about your diabetes early, reduces this risk.

You can book an appointment online or over the phone.

{% endmarkdown %}

<p>
  <a href="/book-an-appointment" class="button button-secondary-cta">Book an appointment</a>
</p>

{% markdown %}

Phone: 0888 123 456

##Preparing for your appointment

Your GP can test your urine at the surgery. You may also be able to have a blood test at your GP surgery, or you may be referred to your local health center or hospital.

To get the most out of your appointment, it may help you to write down some questions beforehand. These might include:


- What are the tests for?
- Will I have to do anything before the tests, eg not eat?
-  How and when will I get the results?

{% endmarkdown %}

    {{
      ui_element_macros.simple_pagination({
        next: {
          url: "/type-2-diabetes/diabetes-2-diagnosis",
          title: "Getting diagnosed"
        }
      })
    }}


  </div>

</main>

{% endblock %}
