{% extends 'templates/nhs_content_layout.html' %}
{% import 'includes/ui_element_macros.html' as ui_element_macros %}

{% block content %}

{{ ui_element_macros.breadcrumbs({
  items: {
    1: {
      text: "Type 2 diabetes",
      href: "/type-2-diabetes"
    },
    2: {
      text: "Food and keeping active"
    }
  }
})}}

<main id="content" role="main">

  {% include "type-2-diabetes/includes/nav-contents.html" %}

  <div class="text markdown-content">

{% markdown %}
#Food and keeping active

A healthy diet and keeping active will help you manage your blood sugar level. They’ll also help you control your weight and generally feel better.

##Eating a healthy diet
There’s nothing you can’t eat, but you’ll have to limit certain foods.

You should:

- eat a wide range of foods - including fruit, vegetables, some starchy foods such as pasta
- keep the amount of sugar, fat and salt to a minimum
- eat breakfast, lunch and dinner every day - don’t skip meals

If you need to change your diet, it might be easier to make small changes every week.

The charity Diabetes UK has lots of  information on:

- [food for people with diabetes](https://www.diabetes.org.uk/Guide-to-diabetes/Enjoy-food/Food-and-diabetes/What-is-a-healthy-balanced-diet/)
- [tips on eating with your family and eating out](https://www.diabetes.org.uk/Guide-to-diabetes/Enjoy-food/Eating-with-diabetes/)
- [recipes for people with diabetes](https://www.diabetes.org.uk/Guide-to-diabetes/Enjoy-food/Cooking-for-people-with-diabetes/)
- [food and nutrition message board](http://www.diabetes.co.uk/forum/category/food-nutrition-and-recipes.3/).
{% endmarkdown %}

<div class="callout-box">
  <p>
    Once a year you should go for a <a href="/type-2-diabetes/going-for-regular-diabetes-check-ups">regular diabetes check</a> to make sure your blood pressure and your cholesterol (blood fats) level are ok.
  </p>
</div>

{% markdown %}
##Help with changing your diet
If you find it hard to change your diet, a dietitian might be able to help.

Talk to your GP or nurse if the cost could be covered through the NHS.

[Find a dietitian](http://www.freelancedietitians.org/)

##Keeping active
Physical exercise helps lower your blood sugar level. You should aim for 2.5 hours of activity per week.

You can be active anywhere, as long as what you’re doing makes you out of breath. This could be:

- fast walking
- climbing stairs
- doing more strenuous housework or gardening.

The charity Diabetes UK has [tips on how to get active](https://www.diabetes.org.uk/Guide-to-diabetes/Managing-your-diabetes/Exercise/).

##Managing your weight
Losing weight (if you’re overweight) will make it easier for your body lower your blood sugar level  and can improve your blood pressure and cholesterol (blood fats).

To know whether you’re overweight, work out your [body mass index (BMI)](http://www.nhs.uk/Tools/Pages/Healthyweightcalculator.aspx).

If you need to lose weight, try and do it slowly over time, about 0.5 to 1 kilo a week.

The charity Diabetes UK has more [information on healthy weight and weight loss](https://www.diabetes.org.uk/Guide-to-diabetes/Enjoy-food/Food-and-diabetes/Whats-your-healthy-weight/).
{% endmarkdown %}

    {{
      ui_element_macros.simple_pagination({
        previous: {
          url: "/type-2-diabetes/health-problems-caused-by-diabetes-type-2",
          title: "Health problems"
        },
        next: {
          url: "/type-2-diabetes/information-and-support-type-2-diabetes",
          title: "Further information and support"
        }
      })
    }}

  </div>

</main>

{% endblock %}
