{% extends 'templates/nhs_content_layout.html' %}

{% block content %}

<main id="content" role="main">

<div class="text">

<h1 class="heading-xlarge">Type 2 diabetes pages</h1>

<ul class="list-bullet">
  <li>
    <a href="/diabetes-content/check-if-you-have-diabetes-type-2">
      Check if you have type 2 diabetes
    </a>
  </li>
  <li>
    <a href="/diabetes-content/diabetes-2-diagnosis">
      Getting diagnosed
    </a>
  </li>
  <li>
    <a href="/diabetes-content/type-2-diabetes-medicines">
      Medication for type 2 diabetes
    </a>
  </li>
  <li>
    <a href="/diabetes-content/going-for-regular-diabetes-check-ups">
      Going for regular check ups
    </a>
  </li>
  <li>
    <a href="/diabetes-content/health-problems-caused-by-diabetes-type-2">
      Health problems caused by type 2 diabetes
    </a>
  </li>
  <li>
    <a href="/diabetes-content/diet">
      Food and keeping active
    </a>
  </li>
  <li>
    <a href="/diabetes-content/information-and-support-type-2-diabetes">
      Finding further information and support for type 2 diabetes
    </a>
  </li>
</ul>
</div>

</main>

{% endblock %}
