{% extends 'templates/nhs_content_layout.html' %}
{% import 'includes/ui_element_macros.html' as ui_element_macros %}

{% block content %}

{{ ui_element_macros.breadcrumbs({
  items: {
    1: {
      text: "Type 2 diabetes",
      href: "/type-2-diabetes"
    },
    2: {
      text: "Understanding medication"
    }
  }
})}}

<main id="content" role="main">

  {% include "type-2-diabetes/includes/nav-contents.html" %}

  <div class="text markdown-content">

{% markdown %}

#Understanding medication

Most people need medicine to control their type 2 diabetes. Medicine is taken to keep your blood sugar level as normal as possible to prevent further health problems. You’ll have to take it for the rest of your life.

Diabetes usually gets worse over time so your medicine or dose will need to change.  [Adjusting your diet and being more active](/type-2-diabetes/diet) is also necessary to keep your blood sugar level down.

##Getting the right medicine for you##

Diabetes medicines help lower the amount of glucose in your blood.
{% endmarkdown %}

<div class="callout-box">
  <p>
    There are many types of medicine for type 2 diabetes. It can take time to find a medicine and dose that’s right for you.
  </p>
</div>

{% markdown %}

You’ll usually be offered a medicine called metformin first. If your blood glucose levels haven’t lowered within 3 months, other medicines may be recommended. These will usually be in addition to metformin.

Over time, it’s common to need a combination of medicines.  Your GP or diabetes nurse will recommend the medicines most suitable for you.

Insulin is usually recommended when other medicines no longer control your blood sugar. It’s not common for people with type 2 diabetes to need insulin.

Diabetes UK has more information about [taking medicines for type 2 diabetes](https://www.diabetes.org.uk/Guide-to-diabetes/What-is-diabetes/Diabetes-treatments/).

##Taking your medicine##
Your GP or diabetes nurse will explain how to take your medication and how to store it.  If you need to inject insulin or a medicine called gliptins, they’ll show you how to do it.

##Side effects##

Your diabetes medicine may cause side effects.  These can include:

- bloating and diarrhoea
- weight loss or weight gain
- feeling sick
- swollen ankles

Not everyone has side effects.

Always read the information leaflet that comes with your medicine for related side effects.  If you feel unwell after taking medicine or notice any side effects, speak to your GP or diabetes nurse.  It’s important you don’t stop taking medication without medical advice.

##How to get free prescriptions for diabetes medication##

You’re entitled to free prescriptions for your diabetes medication.

To claim your free prescriptions you’ll need to apply for an exemption certificate. To do this:

- pick up a form from your GP surgery
- complete the form and take it back to the surgery for a signature (they will send it off)
- you should get the certificate in the post about a week later (it will last 5 years)
- take it to your pharmacy with your prescriptions

Save your receipts if you have to pay for diabetes medication before you receive your exemption certificate as you can claim money back.

##Travelling with medicines##

If you're going on holiday:

- bring twice the quantity of medical supplies you would normally use for your diabetes
- carry your medication in your hand luggage in case your checked-in bags go missing or are damaged
- if you are flying with a medicine you inject, get a letter from your GP which says you need it to treat diabetes

{% endmarkdown %}

    {{
      ui_element_macros.simple_pagination({
        previous: {
          url: "/type-2-diabetes/diabetes-2-diagnosis",
          title: "Getting diagnosed"
        },
        next: {
          url: "/type-2-diabetes/going-for-regular-diabetes-check-ups",
          title: "Going for regular check ups"
        }
      })
    }}


  </div>

</main>

{% endblock %}
